/* 헤더 */

.language-select[data-lang="fr"] {
    pointer-events: none;
}

.language-select[data-lang="fr"]::before {
    content: "";
}

.side-panel-menu-text,
.language-text::after {
    font-family: 'Ubuntu',"Lato","Noto Sans","Open Sans",sans-serif;
}

/* 활성 언어 */

.language-en:after,
.language-select[data-lang="en"] .language-text::after {
    content: "Anglais";
}

.language-ja:after,
.language-select[data-lang="ja"] .language-text::after {
    content: "Japonais";
}

.language-ko:after,
.language-select[data-lang="ko"] .language-text::after {
    content: "Coréen";
}

/* 비활성 언어 */

.language-en-gb:after,
.language-select[data-lang="en-gb"] .language-text::after {
    content: "Anglais (Royaume-Uni)";
}

.language-en-ca:after,
.language-select[data-lang="en-ca"] .language-text::after {
    content: "Anglais (Canada)";
}

.language-en-au:after,
.language-select[data-lang="en-au"] .language-text::after {
    content: "Anglais (Australie)";
}

.language-id:after,
.language-select[data-lang="id"] .language-text::after {
    content: "Indonésien";
}

.language-ms:after,
.language-select[data-lang="ms"] .language-text::after {
    content: "Malais";
}

.language-cs:after,
.language-select[data-lang="cs"] .language-text::after {
    content: "Tchèque";
}

.language-da:after,
.language-select[data-lang="da"] .language-text::after {
    content: "Danois";
}

.language-de:after,
.language-select[data-lang="de"] .language-text::after {
    content: "Allemand";
}

.language-es:after,
.language-select[data-lang="es"] .language-text::after {
    content: "Espagnol";
}

.language-es-mx:after,
.language-select[data-lang="es-mx"] .language-text::after {
    content: "Espagnol (Mexique)";
}

.language-fr:after,
.language-select[data-lang="fr"] .language-text::after {
    content: "Français";
}

.language-fr-ca:after,
.language-select[data-lang="fr-ca"] .language-text::after {
    content: "Français (Canada)";
}

.language-it:after,
.language-select[data-lang="it"] .language-text::after {
    content: "Italien";
}

.language-hu:after,
.language-select[data-lang="hu"] .language-text::after {
    content: "Hongrois";
}

.language-nl:after,
.language-select[data-lang="nl"] .language-text::after {
    content: "Néerlandais";
}

.language-no:after,
.language-select[data-lang="no"] .language-text::after {
    content: "Norvégien";
}

.language-pl:after,
.language-select[data-lang="pl"] .language-text::after {
    content: "Polonais";
}

.language-pt:after,
.language-select[data-lang="pt"] .language-text::after {
    content: "Portugais";
}

.language-pt-br:after,
.language-select[data-lang="pt-br"] .language-text::after {
    content: "Portugais (Brésil)";
}

.language-ro:after,
.language-select[data-lang="ro"] .language-text::after {
    content: "Roumain";
}

.language-fi:after,
.language-select[data-lang="fi"] .language-text::after {
    content: "Finnois";
}

.language-sv:after,
.language-select[data-lang="sv"] .language-text::after {
    content: "Suédois";
}

.language-vi:after,
.language-select[data-lang="vi"] .language-text::after {
    content: "Vietnamien";
}

.language-tr:after,
.language-select[data-lang="tr"] .language-text::after {
    content: "Turc";
}

.language-bg:after,
.language-select[data-lang="bg"] .language-text::after {
    content: "Bulgare";
}

.language-ru:after,
.language-select[data-lang="ru"] .language-text::after {
    content: "Russe";
}

.language-uk:after,
.language-select[data-lang="uk"] .language-text::after {
    content: "Ukrainien";
}

.language-el:after,
.language-select[data-lang="el"] .language-text::after {
    content: "Grec";
}

.language-ar:after,
.language-select[data-lang="ar"] .language-text::after {
    content: "Arabe";
}

.language-hi:after,
.language-select[data-lang="hi"] .language-text::after {
    content: "Hindi";
}

.language-th:after,
.language-select[data-lang="th"] .language-text::after {
    content: "Thaï";
}

.language-zh-cn:after,
.language-select[data-lang="zh-cn"] .language-text::after {
    content: "Chinois (Simplifié)";
}

.language-zh-tw:after,
.language-select[data-lang="zh-tw"] .language-text::after {
    content: "Chinois (Traditionnel)";
}

/* 미사용

.language-select[data-lang="en-us"] .language-text::after {
    content: "Anglais (États-Unis)";
}

.language-select[data-lang="cs-cz"] .language-text::after {
    content: "Tchèque (République Tchèque)";
}

.language-select[data-lang="de-de"] .language-text::after {
    content: "Allemand (Allemagne)";
}

.language-select[data-lang="es-es"] .language-text::after {
    content: "Espagnol (Espagne)";
}

.language-select[data-lang="fi-fi"] .language-text::after {
    content: "Finnois (Finlande)";
}

.language-select[data-lang="fr-fr"] .language-text::after {
    content: "Français (France)";
}

.language-select[data-lang="hu-hu"] .language-text::after {
    content: "Hongrois (Hongrie)";
}

.language-select[data-lang="hi-in"] .language-text::after {
    content: "Hindi (Inde)";
}

.language-select[data-lang="it-it"] .language-text::after {
    content: "Italien (Italie)";
}

.language-select[data-lang="nl-nl"] .language-text::after {
    content: "Néerlandais (Pays-Bas)";
}

.language-select[data-lang="pl-pl"] .language-text::after {
    content: "Polonais (Pologne)";
}

.language-select[data-lang="pt-pt"] .language-text::after {
    content: "Portugais (Portugal)";
}

.language-select[data-lang="ru-ru"] .language-text::after {
    content: "Russe (Russie)";
}

.language-select[data-lang="ar-sa"] .language-text::after {
    content: "Arabe (Arabie Saoudite)";
}

.language-select[data-lang="th-th"] .language-text::after {
    content: "Thaï (Thaïlande)";
}

.language-select[data-lang="tr-tr"] .language-text::after {
    content: "Turc (Turquie)";
}

.language-select[data-lang="uk-ua"] .language-text::after {
    content: "Ukrainien (Ukraine)";
}

.language-select[data-lang="zh"] .language-text::after {
    content: "Chinois";
}

.language-select[data-lang="ja-jp"] .language-text::after {
    content: "Japonais (Japon)";
}

.language-select[data-lang="ko-kr"] .language-text::after {
    content: "Coréen (Corée du Sud)";
}

.language-select[data-lang="zh-hans"] .language-text::after {
    content: "Chinois (Simplifié)";
}

.language-select[data-lang="zh-hant"] .language-text::after {
    content: "Chinois (Traditionnel)";
}

.language-select[data-lang="bg-bg"] .language-text::after {
    content: "Bulgare (Bulgarie)";
}

.language-select[data-lang="ms-id"] .language-text::after {
    content: "Indonésien (Indonésie)";
}

.language-select[data-lang="el-gr"] .language-text::after {
    content: "Grec (Grèce)";
}

.language-select[data-lang="no-no"] .language-text::after {
    content: "Norvégien (Norvège)";
}

.language-select[data-lang="da-dk"] .language-text::after {
    content: "Danois (Danemark)";
}

.language-select[data-lang="sv-se"] .language-text::after {
    content: "Suédois (Suède)";
}

.language-select[data-lang="ro-ro"] .language-text::after {
    content: "Roumain (Roumanie)";
}

.language-select[data-lang="vi-vn"] .language-text::after {
    content: "Vietnamien (Vietnam)";
} */

.info-th > p::after {
    content: "Détails";
}

.early-access-date::before {
    content: "Jeu en accès anticipé";
}

.full-release-date::before {
    content: "Version Complète";
}

.description-source::before {
    content: "Source | ";
}

.description-update::before {
    content: "Dernière Mise à Jour | ";
}

.show-more::after {
    content: "Montre Plus";
}

.show-more.open::after {
    content: "Montrer Moins";
}

.franchise > .details > summary::after {
    content: "[ Afficher · Masquer ]";
}

.text-report-title::after {
    content: "Rapport";
}

.text-report-text::after {
    content: "Veuillez sélectionner la raison du signalement.";
}

.report-item#option1 p::after {
    content: "Contenu Inapproprié";
}
.report-item#option1::after {
    content: "Contenu qui viole l'ordre public ou les normes morales, ou qui est jugé inapproprié. Cela inclut le contenu à caractère sexuellement explicite, les images ou le langage violents, les discours de haine, etc.";
}
.report-item#option2 p::after {
    content: "Contenu Menaçant";
}
.report-item#option2::after {
    content: "Contenu qui menace ou attaque des individus ou des groupes. Cela peut aller des menaces physiques directes aux langages ou actions susceptibles d'inciter indirectement à la violence ou au harcèlement.";
}
.report-item#option3 p::after {
    content: "Contenu Illégal et Contraire à la Loi";
}
.report-item#option3::after {
    content: "Contenu qui viole les lois locales, y compris la violation des droits d'auteur, des marques, des droits à la vie privée, etc.";
}
.report-item#option4 p::after {
    content: "Contenu Nuisible";
}
.report-item#option4::after {
    content: "Contenu qui est psychologiquement ou émotionnellement nuisible. Cela inclut la diffamation, les abus, la discrimination, les discours de haine, l'exploitation des enfants, etc.";
}
.report-item#option5 p::after {
    content: "Violation de la Vie Privée et Diffamation";
}
.report-item#option5::after {
    content: "Actions qui exposent illégalement des informations personnelles ou qui endommagent la réputation.";
}
.report-item#option6 p::after {
    content: "Contenu Spam et Frauduleux";
}
.report-item#option6::after {
    content: "Marketing ou publicité inappropriés, liens spam, menaces de sécurité et contenu destiné à tromper ou à nuire aux utilisateurs.";
}
.report-item#option7 p::after {
    content: "Désinformation ou Information Fausse";
}
.report-item#option7::after {
    content: "Fournir de fausses informations, des fake news, des rumeurs ou des informations nécessitant une vérification des faits.";
}

.text-report-more::before {
    content: "Besoin d'aide?";
}

.text-report-help::after {
    content: "Contactez-nous";
}

.text-share-title::after {
    content: "Partager";
}

.text-share-text::after {
    content: "Veuillez sélectionner le service à partager.";
}

.grid-date-year::after,
.sale-date > .date-container > p:first-child::after,
.calendar-item-year::after {
    content: "";
}

.grid-date-month::after,
.sale-date > .date-container > p:nth-child(2)::after,
.calendar-item-month::after {
    content: "";
}

.grid-date-day::after,
.sale-date > .date-container > p:last-child::after,
.calendar-item-day::after {
    content: "";
}

#dataContainer .item.expired::before {
    content: "Expiré";
}

#dataContainer .item a.item-link::before {
    content: "Obtenez-le sur ";
}

#dataContainer .item.games a.item-link::before {
    content: "Obtenez-le sur ";
}

#dataContainer .item.bundle a.item-link::before {
    content: "Acheter sur ";
}

#dataContainer .item.trials a.item-link::before {
    content: "Jouez aux essais sur ";
}

#dataContainer .item.subscription a.item-link::before {
    content: "Abonnez-vous à ";
}

.external-link.icon-website::after,
#dataContainer .item.from-website a.item-link::before {
    content: "Website";
}

.external-link.icon-steam::after,
#dataContainer .item.from-steam a.item-link::after {
    content: "Steam";
}

.external-link.icon-epicgamesstore::after,
#dataContainer .item.from-epicgamesstore a.item-link::after {
    content: "Epic Games Store";
}

.external-link.icon-gogcom::after,
#dataContainer .item.from-gogcom a.item-link::after {
    content: "GOG.com";
}

.external-link.icon-eaapp::after,
#dataContainer .item.from-eaapp a.item-link::after {
    content: "EA";
}

.external-link.icon-microsoftstore::after,
#dataContainer .item.from-microsoftstore a.item-link::after {
    content: "Microsoft Store";
}

.external-link.icon-ubisoftconnect::after,
#dataContainer .item.from-ubisoftstore a.item-link::after {
    content: "Ubisoft Store";
}

.external-link.icon-battlenet::after,
#dataContainer .item.from-battlenet a.item-link::after {
    content: "Battle.net";
}

.external-link.icon-xboxgamesstore::after,
#dataContainer .item.from-xboxstore a.item-link::after {
    content: "Xbox Store";
}

.external-link.icon-playstationstore::after,
#dataContainer .item.from-playstationstore a.item-link::after {
    content: "Playstation Store";
}

#dataContainer .item.from-nintendoeshop a.item-link::after {
    content: "Nintendo Switch";
}

#dataContainer .item.from-humblebundle a.item-link::after {
    content: "Humble Bundle";
}

#dataContainer .item.from-fanatical a.item-link::after {
    content: "Fanatical";
}

#dataContainer .item.from-indiegala a.item-link::after {
    content: "Indiegala";
}

#dataContainer .item.from-itchio a.item-link::after {
    content: "itch.io";
}

#dataContainer .item.from-primegaming a.item-link::after {
    content: "Prime Gaming";
}

#dataContainer .item.from-xboxgamepass a.item-link::after {
    content: "Xbox Game Pass";
}

#dataContainer .item.from-playstationplus a.item-link::after {
    content: "PlayStation Plus";
}

#dataContainer .item.from-nintendoswitchonline a.item-link::after {
    content: "Nintendo Switch Online";
}

#dataContainer .item.from-humblechoice a.item-link::after {
    content: "Humble Choice";
}

.item.unknown .timer-container.end::after {
    content: "Inconnu";
}

.item .timer-container.start::before,
.sale-timer.timer-container.start::before {
    content: "Commence après";
}

.sale-timer.timer-container.end::before {
    content: "Expire après";
}

body.en .middle-content::before {
    content: "Cette page n'a pas été traduite en Français.";
    grid-column-start: 1;
    grid-column-end: 3;
    outline: var(--red-5) solid 1px;
    color: var(--red-5);
    padding: 10px 0px;
    border-radius: 20px;
}

.searchingValue > #searchingValue::before {
    content: "Vous avez recherché: ";
}

.searchingValue > #searchingValueNumber::before {
    content: "J'ai trouvé un total de ";
}

.searchingValue > #searchingValueNumber::after {
    content: " résultats";
}

.game-section .item-desc p:after {
    content: "Voir Plus";
}

.external-link.icon-website::after {
    content: "Site officiel";
}

.external-link.icon-rockstargameslauncher::after {
    content: "Boutique Rockstar";
}

.external-link.icon-stove::after {
    content: "Stove";
}

.external-link.icon-nintendoeshop::after {
    content: "Nintendo eShop";
}

.external-link.icon-metastore::after {
    content: "Meta Store";
}

.external-link.icon-googleplay::after {
    content: "Google Play";
}

.external-link.icon-appstore::after {
    content: "App Store";
}

.external-link.icon-galaxystore::after {
    content: "Galaxy Store";
}

.external-link.icon-xboxcloudgaming::after {
    content: "Jeu en nuage Xbox";
}

.external-link.icon-amazonluna::after {
    content: "Amazon Luna";
}

.external-link.icon-stadia::after {
    content: "Stadia";
}

.external-link.icon-geforcenow::after {
    content: "GeForce NOW";
}

.external-link.icon-facebook::after {
    content: "Facebook";
}

.external-link.icon-instagram::after {
    content: "Instagram";
}

.external-link.icon-x::after {
    content: "X";
}

.external-link.icon-threads::after {
    content: "Threads";
}

.external-link.icon-linkedin::after {
    content: "LinkedIn";
}

.external-link.icon-bluesky::after {
    content: "Bluesky";
}

.external-link.icon-kakaostory::after {
    content: "Kakao Story";
}

.external-link.icon-tumblr::after {
    content: "Tumblr";
}

.external-link.icon-pinterest::after {
    content: "Pinterest";
}

.external-link.icon-vk::after {
    content: "VK";
}

.external-link.icon-waibo::after {
    content: "Weibo";
}

.external-link.icon-mastodon::after {
    content: "Mastodon";
}

.external-link.icon-parler::after {
    content: "Parler";
}

.external-link.icon-misskey::after {
    content: "Misskey";
}

.external-link.icon-truthsocial::after {
    content: "Truth Social";
}

.external-link.icon-discord::after {
    content: "Discord";
}

.external-link.icon-kakaotalk::after {
    content: "KakaoTalk";
}

.external-link.icon-line::after {
    content: "Line";
}

.external-link.icon-skype::after {
    content: "Skype";
}

.external-link.icon-snapchat::after {
    content: "Snapchat";
}

.external-link.icon-whatsapp::after {
    content: "WhatsApp";
}

.external-link.icon-wechat::after {
    content: "WeChat";
}

.external-link.icon-telegram::after {
    content: "Telegram";
}

.external-link.icon-qq::after {
    content: "QQ";
}

.external-link.icon-viber::after {
    content: "Viber";
}

.external-link.icon-messenger::after {
    content: "Messenger";
}

.external-link.icon-navercafe::after {
    content: "Naver Café";
}

.external-link.icon-reddit::after {
    content: "Reddit";
}

.external-link.icon-wikipedia::after {
    content: "Wikipedia";
}

.external-link.icon-fandom::after {
    content: "Fandom";
}

.external-link.icon-namuwiki::after {
    content: "NamuWiki";
}

.external-link.icon-niconicodaihyakka::after {
    content: "Encyclopédie Niconico";
}

.external-link.icon-pixivhyakkajiten::after {
    content: "Encyclopédie Pixiv";
}

.external-link.icon-baidubaike::after {
    content: "Baidu Baike";
}

.external-link.icon-youtube::after {
    content: "YouTube";
}

.external-link.icon-tiktok::after {
    content: "TikTok";
}

.external-link.icon-chzzk::after {
    content: "Chzzk";
}

.external-link.icon-kick::after {
    content: "Kick";
}

.external-link.icon-twitch::after {
    content: "Twitch";
}

.external-link.icon-niconicodouga::after {
    content: "Niconico Douga";
}

.external-link.icon-bilibili::after {
    content: "Bilibili";
}

.external-link.icon-spotify::after {
    content: "Spotify";
}

.external-link.icon-applemusic::after {
    content: "Apple Music";
}

.external-link.icon-youtubemusic::after {
    content: "YouTube Music";
}

.external-link.icon-amazonmusic::after {
    content: "Amazon Music";
}

.external-link.icon-soundcloud::after {
    content: "SoundCloud";
}

.external-link.icon-deezer::after {
    content: "Deezer";
}

.external-link.icon-vibe::after {
    content: "Naver VIBE";
}

.external-link.icon-linemusic::after {
    content: "Line Music";
}

.external-link.icon-netflix::after {
    content: "Netflix";
}

.external-link.icon-disneyplus::after {
    content: "Disney+";
}

.external-link.icon-primevideo::after {
    content: "Prime Video";
}

.external-link.icon-appletv::after {
    content: "Apple TV";
}

.external-link.icon-appletvplus::after {
    content: "Apple TV+";
}

.external-link.icon-hulu::after {
    content: "Hulu";
}

.external-link.icon-paramountplus::after {
    content: "Paramount+";
}

.external-link.icon-max::after {
    content: "Max";
}

.external-link.icon-crunchyroll::after {
    content: "Crunchyroll";
}

.external-link.icon-hulujapan::after {
    content: "Hulu";
}

.external-link.icon-unext::after {
    content: "U-NEXT";
}

.external-link.icon-abema::after {
    content: "Abema";
}

.external-link.icon-fod::after {
    content: "FOD";
}

.external-link.icon-animehodai::after {
    content: "Anime Hodai";
}

.external-link.icon-danimestore::after {
    content: "Boutique d'anime";
}

.external-link.icon-bandaichannel::after {
    content: "Chaîne Bandai";
}

.external-link.icon-dmmtv::after {
    content: "DMM TV";
}

.external-link.icon-jcom::after {
    content: "J:COM Stream";
}

.external-link.icon-telasa::after {
    content: "Telasa";
}

.external-link.icon-milplus::after {
    content: "Milplus";
}

.external-link.icon-lemino::after {
    content: "Lemino";
}

.external-link.icon-tver::after {
    content: "TVer";
}

.external-link.icon-wowow::after {
    content: "WOWOW";
}

.external-link.icon-wavve::after {
    content: "Wavve";
}

.external-link.icon-tving::after {
    content: "Tving";
}

.external-link.icon-watcha::after {
    content: "Watcha";
}

.external-link.icon-coupangplay::after {
    content: "Coupang Play";
}

.external-link.icon-serieson::after {
    content: "Séries On";
}

.external-link.icon-laftel::after {
    content: "Laftel";
}

.external-link.icon-aniplus::after {
    content: "Aniplus";
}

.external-link.icon-uplusmobiletv::after {
    content: "U+ Mobile TV";
}

.external-link.icon-cinefox::after {
    content: "Cinefox";
}

.external-link.icon-jbox::after {
    content: "Jbox";
}

.external-link.icon-googleplaymovies::after {
    content: "Google Play Films et TV";
}

.external-link.icon-googletv::after {
    content: "Google TV";
}

.external-link.icon-rakutenviki::after {
    content: "Rakuten Viki";
}

.more-info-tab.windows::after {
    content: "Windows";
}

.more-info-tab.mac::after,
.more-info-tab.macos::after {
    content: "Mac";
}

.more-info-tab.linux::after {
    content: "Linux";
}

.more-info-tab.android::after {
    content: "Android";
}

.more-info-tab.ios::after {
    content: "iOS";
}

.more-info-tab.ipados::after {
    content: "iPadOS";
}

.episode-table > thead > tr > th:nth-child(1):before {
    content: "Épisode";
}

.episode-table > thead > tr > th:nth-child(2)::before {
    content: "Titre";
}

.episode-table > thead > tr > th:nth-child(3)::before {
    content: "Script";
}

.episode-table > thead > tr > th:nth-child(4)::before {
    content: "Storyboard";
}

.episode-table > thead > tr > th:nth-child(5)::before {
    content: "Direction";
}

.episode-table > thead > tr > th:nth-child(6)::before {
    content: "Directeur de l'animation";
}

.episode-table > thead > tr > th:nth-child(7)::before {
    content: "Date de diffusion";
}

.music-table > thead > tr > th:nth-child(1):before {
    content: "Piste";
}

.music-table > thead > tr > th:nth-child(2)::before {
    content: "Titre de la chanson";
}

.music-table > thead > tr > th:nth-child(3)::before {
    content: "Paroles";
}

.music-table > thead > tr > th:nth-child(4)::before {
    content: "Compositeur";
}

.music-table > thead > tr > th:nth-child(5)::before {
    content: "Arrangeur";
}

.music-table > thead > tr > th:nth-child(6)::before {
    content: "Durée";
}

.music-table > thead > tr > th:nth-child(7)::before {
    content: "Écouter";
}

.tv-table > thead > tr > th:nth-child(1):before {
    content: "Épisode";
}

.tv-table > thead > tr > th:nth-child(2)::before {
    content: "Titre";
}

.tv-table > thead > tr > th:nth-child(3)::before {
    content: "Description";
}

.tv-table > thead > tr > th:nth-child(4)::before {
    content: "Direction";
}

.tv-table > thead > tr > th:nth-child(5)::before {
    content: "Durée";
}

.tv-table > thead > tr > th:nth-child(6)::before {
    content: "Date de diffusion";
}