section > h1 {
    font-size: 50px;
}

#dataContainer {
    margin: 0 0 100px;
    width: auto;
    max-width: 1200px;
    min-height: 430px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

#serverTime,
#localTime {
    display: none;
}

#loading {
    width: 100%;
    height: 50px;
    margin: 40px 0;
    background: url(//media.hungbok.net/image/icon/progress.svg) no-repeat center;
    background-size: 50px;
    animation: loading 2s linear infinite;
    pointer-events: none;
}

.item {
    width: 30%;
    max-width: 350px;
    padding: 20px;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item::before {
    content: "";
    position: absolute;
    z-index: 10;
    padding: 0px 50px;
    border-radius: 50px;
    font-size: 175px;
    font-weight: bold;
    left: 52.5%;
    top: 25%;
    text-wrap: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: rotate(340deg) translate(-50%, -50%);
    background-color: black;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item::after {
    content: "";
    width: 500px;
    height: 500px;
    background-size: 150px 150px;
    display: inline-block;
    position: absolute;
    padding: 49px;
    background-repeat: space;
    top: -90px;
    right: -110px;
    z-index: -1;
    transform: rotate(25deg);
    opacity: 0.5;
    filter: blur(5px);
    pointer-events: none;
}

.item-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px var(--shadow));
    position: relative;
}

.item-image img {
    height: auto;
    width: 100%;
    filter: blur(10px) brightness(0.75) grayscale(0.5);
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item-image img:first-child {
    position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
    filter: unset;
}

.item:hover .item-image img {
    transform: scale(1.05);
}

.item-image:before {
    content: "";
    width: 30px;
    height: 20px;
    z-index: 10;
    position: absolute;
    right: 15px;
    top: 15px;
    pointer-events: none;
}

.item.jp .item-image:before {
    background: url(//media.hungbok.net/image/flag/jp.svg) no-repeat center;
}

.item.us .item-image:before {
    background: url(//media.hungbok.net/image/flag/us.svg) no-repeat center;
}

.item.eu .item-image:before {
    background: url(//media.hungbok.net/image/flag/eu.svg) no-repeat center;
}

.item.gb .item-image:before {
    background: url(//media.hungbok.net/image/flag/gb.svg) no-repeat center;
}

.item.fr .item-image:before {
    background: url(//media.hungbok.net/image/flag/fr.svg) no-repeat center;
}

.item.de .item-image:before {
    background: url(//media.hungbok.net/image/flag/de.svg) no-repeat center;
}

.item.kr .item-image:before {
    background: url(//media.hungbok.net/image/flag/kr.svg) no-repeat center;
}

.info {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item h1 {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-wrap: balance;
}

.item h3 {
    display: none;
}

.timer-container {
    font-size: 24px;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.timer-container.start.expired,
.timer-container.end {
    display: none;
}

.timer-container.start.expired + .timer-container.end {
    display: block;
}

.item.unknown .timer-container.end {
    font-size: 0;
    color: transparent;
}

.item.unknown .timer-container.end::after {
    font-size: 24px;
    line-height: 29px;
    color: var(--text-1);
}

.item-link {
    background: linear-gradient(90deg, rgb(230, 195, 0), 60%, rgb(247, 229, 137));
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item-link:hover {
    opacity: 0.5;
}

.item-background {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: blur(50px) brightness(0.5);
    z-index: -1;
    pointer-events: none;
}

.timer-container.end.one-minute-left {
    color: #b02a37;
}

.timer-container.end.one-hour-left {
    color: #e35d6a;
}

.timer-container.end.three-hours-left {
    color: #ca6510;
}

.timer-container.end.six-hours-left {
    color: #fd9843;
}

.timer-container.end.twelve-hours-left {
    color: #cc9a06;
}

.timer-container.end.one-day-left {
    color: #ffcd39;
}

.expired.item {
    filter: grayscale(0.75) brightness(0.25);
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.expired.item:hover {
    filter: grayscale(0.25) brightness(0.5);
    opacity: 1;
}

.expired.item::before {
    font-size: 75px;
    left: 52.5%;
    top: 35%;
    opacity: 1;
    transform: rotate(340deg) translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.expired.item:hover::before {
    opacity: 0.25;
}

.esd-steam::after {
    background-image: url(//media.hungbok.net/image/icon/steam.svg);
}

.esd-epicgamesstore::after {
    background-image: url(//media.hungbok.net/image/icon/epicgamesstore.svg);
}

.esd-gogcom::after {
    background-image: url(//media.hungbok.net/image/icon/gogcom.svg);
}

.esd-microsoftstore::after {
    background-image: url(//media.hungbok.net/image/icon/microsoftstore.svg);
}

.esd-eaapp::after {
    background-image: url(//media.hungbok.net/image/icon/ea.svg);
}

.esd-ubisoftconnect::after {
    background-image: url(//media.hungbok.net/image/icon/ubisoft.svg);
}

.esd-xboxstore::after {
    background-image: url(//media.hungbok.net/image/icon/xbox.svg);
}

.esd-playstationstore::after {
    background-image: url(//media.hungbok.net/image/icon/playstation.svg);
}

.esd-humblebundle::after {
    background-image: url(//media.hungbok.net/image/icon/humblebundle.svg);
}

.esd-amazongamesapp::after {
    background-image: url(//media.hungbok.net/image/icon/primegaming.svg);
}

.esd-playstationplus::after {
    background-image: url(//media.hungbok.net/image/icon/playstationplus.svg);
}

.esd-fanatical::after {
    background-image: url(//media.hungbok.net/image/icon/fanatical.svg);
}

.esd-humblechoice::after {
    background-image: url(//media.hungbok.net/image/icon/humblechoice.svg);
}

.esd-indiegala::after {
    background-image: url(//media.hungbok.net/image/icon/indiegala.svg);
}

.esd-itchio::after {
    background-image: url(//media.hungbok.net/image/icon/itchio.svg);
}

.esd-legacygames::after {
    background-image: url(//media.hungbok.net/image/icon/legacygames.svg);
}

.esd-nintendoeshop::after {
    background-image: url(//media.hungbok.net/image/icon/nintendo.svg);
}

.esd-drmfree::after {
    background-image: url(//media.hungbok.net/image/icon/unlock.svg);
}

.hide-expired .item.expired {
    display: none;
}

.filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#dateFilterBtn,
.filterDataBtn,
.filterPlatformBtn {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    min-width: 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.filter-content img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.filterPlatformBtn.active img {
    filter: brightness(0);
}

#dateFilterBtn:hover,
.filterDataBtn:hover,
.filterPlatformBtn:hover {
    background-color: #222222;
}

#dateFilterBtn.active,
.filterDataBtn.active,
.filterPlatformBtn.active {
    background-color: #ffffff;
    color: #000000;
}

#dataContainer .item a.item-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
}

.filter-content.games > .filterPlatformBtn[data-platform="primegaming"],
.filter-content.games > .filterPlatformBtn[data-platform="playstationplus"],
.filter-content.games > .filterPlatformBtn[data-platform="humblechoice"],
.filter-content.trials > .filterPlatformBtn[data-platform="primegaming"],
.filter-content.trials > .filterPlatformBtn[data-platform="playstationplus"],
.filter-content.trials > .filterPlatformBtn[data-platform="humblechoice"],
.filter-content.bundle > .filterPlatformBtn[data-platform="steam"],
.filter-content.bundle > .filterPlatformBtn[data-platform="epicgamesstore"],
.filter-content.bundle > .filterPlatformBtn[data-platform="gogcom"],
.filter-content.bundle > .filterPlatformBtn[data-platform="microsoftstore"],
.filter-content.bundle > .filterPlatformBtn[data-platform="eaapp"],
.filter-content.bundle > .filterPlatformBtn[data-platform="ubisoftstore"],
.filter-content.bundle > .filterPlatformBtn[data-platform="xboxstore"],
.filter-content.bundle > .filterPlatformBtn[data-platform="playstationstore"],
.filter-content.bundle > .filterPlatformBtn[data-platform="nintendoeshop"],
.filter-content.bundle > .filterPlatformBtn[data-platform="primegaming"],
.filter-content.bundle > .filterPlatformBtn[data-platform="playstationplus"],
.filter-content.bundle > .filterPlatformBtn[data-platform="humblechoice"],
.filter-content.subscription > .filterPlatformBtn[data-platform="steam"],
.filter-content.subscription > .filterPlatformBtn[data-platform="epicgamesstore"],
.filter-content.subscription > .filterPlatformBtn[data-platform="gogcom"],
.filter-content.subscription > .filterPlatformBtn[data-platform="microsoftstore"],
.filter-content.subscription > .filterPlatformBtn[data-platform="eaapp"],
.filter-content.subscription > .filterPlatformBtn[data-platform="ubisoftstore"],
.filter-content.subscription > .filterPlatformBtn[data-platform="xboxstore"],
.filter-content.subscription > .filterPlatformBtn[data-platform="playstationstore"],
.filter-content.subscription > .filterPlatformBtn[data-platform="nintendoeshop"],
.filter-content.subscription > .filterPlatformBtn[data-platform="humblebundle"],
.filter-content.subscription > .filterPlatformBtn[data-platform="fanatical"],
.filter-content.subscription > .filterPlatformBtn[data-platform="indiegala"],
.filter-content.subscription > .filterPlatformBtn[data-platform="itchio"] {
    display: none;
}

#dataContainer .item.games a.item-link {
    background: linear-gradient(90deg, #e6c300, 60%, #f7e589);
}

#dataContainer .item.bundle a.item-link {
    background: url(//media.hungbok.net/image/icon/bag.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #e67300, 60%, #f4bd85);
    padding: 10px 45px 10px 15px;
}

#dataContainer .item.trials a.item-link {
    background: url(//media.hungbok.net/image/icon/trials.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #00e6a1, 60%, #90fddc);
    padding: 10px 45px 10px 15px;
}

#dataContainer .item.subscription a.item-link {
    background: url(//media.hungbok.net/image/icon/credit-card.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #ec5151, 60%, #fd9090);
    padding: 10px 45px 10px 15px;
}

#dataContainer .item.subscription.from-primegaming a.item-link {
    background: url(//media.hungbok.net/image/icon/primegaming_color.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #9146ff, 60%, #bf99f8);
}

#dataContainer .item.subscription.from-humblechoice a.item-link {
    background: url(//media.hungbok.net/image/icon/humblechoice_color.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #45e600, 60%, #a5ee86);
}

#dataContainer .item.subscription.from-playstationplus a.item-link {
    background: url(//media.hungbok.net/image/icon/playstationplus_color.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #00b8e6, 60%, #89e2f8);
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes breath {
    0%, 100% {
        transform: scale(1);
    }
    6.25%, 93.75% {
        transform: scale(1.05);
    }
    12.5%, 87.5% {
        transform: scale(1);
    }
}

@keyframes shake {
    0%, 100% {
        transform: rotate(2.5deg);
    }
    6.25%, 93.75% {
        transform: rotate(-2.5deg);
    }
    12.5%, 87.5% {
        transform: rotate(0deg);
    }
}

@keyframes bell {
    0%, 100% {
        transform: rotate(2.5deg);
    }
    25%, 75% {
        transform: rotate(-2.5deg);
    }
    50% {
        transform: rotate(2.5deg);
    }
}

#goSalesButton {
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 15px 0px;
    width: calc(50% - 55px);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#goSalesButton:hover {
    background-color: var(--background-6);
}

#upcomingContainer {
    width: auto;
    max-width: 1445px;
    min-height: 351px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: relative;
    flex-wrap: wrap;
}

#upcomingContainer .item {
    padding: unset;
    width: 30%;
    max-width: 350px;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#upcomingContainer .item:hover {
    transform: translate(0px, -5px);
}

#upcomingContainer .item::before,
#upcomingContainer .item::after {
    content: unset;
}

#upcomingContainer .item .item-link {
    background: unset;
    color: unset;
    font-weight: unset;
    text-decoration: unset;
    padding: unset;
    margin-top: unset;
    border-radius: unset;
    display: block;
    height: 100%;
}

#upcomingContainer .item .item-link:hover {
    opacity: 1;
}

#upcomingContainer .item .item-image {
    border-radius: unset;
    filter: unset;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

#upcomingContainer .item .item-image:before {
    content: "";
    width: 30px;
    height: 20px;
    z-index: 10;
    position: absolute;
    right: 15px;
    top: 15px;
    pointer-events: none;
    filter: drop-shadow(0px 0px 20px black);
}

#upcomingContainer .item-image::after {
    content: "";
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#upcomingContainer .item:hover .item-image img {
    transform: scale(1);
}

#upcomingContainer .item h1 {
    background-color: unset;
    padding: unset;
    width: unset;
    border-radius: unset;
    backdrop-filter: unset;
    margin: 20px;
    text-align: left;
    line-height: 26px;
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 35px auto;
    position: absolute;
    top: 0;
    z-index: 1;
    text-wrap: balance;
    filter: drop-shadow(0px 0px 5px black);
    pointer-events: none;
}

#upcomingContainer .item h1:before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

#upcomingContainer .from-steam::before {
    background: url(//media.hungbok.net/image/icon/steam.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-epicgamesstore::before {
    background: url(//media.hungbok.net/image/icon/epicgamesstore.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-gogcom::before {
    background: url(//media.hungbok.net/image/icon/gogcom.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-battlenet::before {
    background: url(//media.hungbok.net/image/icon/battlenet.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-eaapp::before {
    background: url(//media.hungbok.net/image/icon/ea.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-ubisoftstore::before {
    background: url(//media.hungbok.net/image/icon/ubisoft.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-xboxstore::before {
    background: url(//media.hungbok.net/image/icon/xbox.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-playstationstore::before {
    background: url(//media.hungbok.net/image/icon/playstation.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .from-nintendoeshop::before {
    background: url(//media.hungbok.net/image/icon/nintendo.svg) no-repeat center / 25px 25px;
}

#upcomingContainer .sale-info {
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
    justify-content: space-between;
}

#upcomingContainer .item h2 {
    margin: 0;
    padding: 20px;
    font-size: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#upcomingContainer .sale-name {
    font-size: 18px;
    text-wrap: balance;
}

#upcomingContainer .title-steam::before {
    content: "Steam";
}

#upcomingContainer .title-epicgamesstore::before {
    content: "Epic Games Store";
}

#upcomingContainer .title-gogcom::before {
    content: "GOG.com";
}

#upcomingContainer .title-battlenet::before {
    content: "Battle.net";
}

#upcomingContainer .title-eaapp::before {
    content: "EA";
}

#upcomingContainer .title-ubisoftstore::before {
    content: "Ubisoft Store";
}

#upcomingContainer .title-xboxstore::before {
    content: "Xbox Store";
}

#upcomingContainer .title-playstationstore::before {
    content: "PlayStation Store";
}

#upcomingContainer .title-nintendoeshop::before {
    content: "Nintendo Switch";
}

#upcomingContainer .date-container {
    display: inline-block;
}

#upcomingContainer .sale-date p {
    margin: 0px 5px;
    display: inline-block;
}

#upcomingContainer .sale-timer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: calc(100% - 200px);
    z-index: 1;
    width: 100%;
}

#upcomingContainer .timer-container {
    font-size: 24px;
    margin: 0px 10px 20px;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#upcomingContainer .sale-timer.start.expired,
#upcomingContainer .sale-timer.end.expired {
    display: none;
}

#upcomingContainer .timer-container.start::before,
#upcomingContainer .timer-container.end::before {
    display: block;
    color: var(--white);
}