#dataContainer {
    margin: auto;
    width: auto;
    max-width: 1200px;
    min-height: 430px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.item {
    width: 30%;
    max-width: 350px;
    padding: 20px;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item::before {
    content: "";
    position: absolute;
    z-index: 10;
    padding: 0px 50px;
    border-radius: 50px;
    font-size: 175px;
    font-weight: bold;
    left: 52.5%;
    top: 25%;
    text-wrap: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: rotate(340deg) translate(-50%, -50%);
    background-color: black;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item::after {
    content: "";
    width: 500px;
    height: 500px;
    background-size: 150px 150px;
    display: inline-block;
    position: absolute;
    padding: 49px;
    background-repeat: space;
    top: -90px;
    right: -110px;
    z-index: -1;
    transform: rotate(25deg);
    opacity: 0.5;
    filter: blur(5px);
    pointer-events: none;
}

.item-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px var(--shadow));
}

.item-image img {
    height: auto;
    width: 100%;
    filter: blur(10px) brightness(0.75) grayscale(0.5);
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item-image img:first-child {
    position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
    filter: unset;
}

.item:hover .item-image img {
    transform: scale(1.05);
}

.item-image:before {
    content: "";
    width: 30px;
    height: 20px;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: none;
}

.item-image.jp:before {
    background: url(//media.hungbok.net/image/flag/jp.svg) no-repeat center;
}

.item-image.us:before {
    background: url(//media.hungbok.net/image/flag/us.svg) no-repeat center;
}

.item h1 {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.item h3 {
    display: none;
}

.timer-container {
    font-size: 24px;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.timer-container.start {
    display: none;
}

.item-link {
    background: linear-gradient(90deg, rgb(230, 195, 0), 60%, rgb(247, 229, 137));
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item-link:hover {
    opacity: 0.5;
}

.item-background {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: blur(50px) brightness(0.5);
    z-index: -1;
    pointer-events: none;
}

.timer-container.end.one-minute-left {
    color: #b02a37;
}

.timer-container.end.one-hour-left {
    color: #e35d6a;
}

.timer-container.end.three-hours-left {
    color: #ca6510;
}

.timer-container.end.six-hours-left {
    color: #fd9843;
}

.timer-container.end.twelve-hours-left {
    color: #cc9a06;
}

.timer-container.end.one-day-left {
    color: #ffcd39;
}

.expired.item {
    filter: grayscale(0.75) brightness(0.25);
    opacity: 0.5;
    text-decoration: line-through;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.expired.item:hover {
    filter: grayscale(0.25) brightness(0.5);
    opacity: 1;
}

.expired.item::before {
    font-size: 75px;
    left: 52.5%;
    top: 35%;
    opacity: 1;
    transform: rotate(340deg) translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.expired.item:hover::before {
    opacity: 0.25;
}

.esd-steam::after {
    background-image: url(//media.hungbok.net/image/icon/steam.svg);
}

.esd-epicgamesstore::after {
    background-image: url(//media.hungbok.net/image/icon/epicgamesstore.svg);
}

.esd-gogcom::after {
    background-image: url(//media.hungbok.net/image/icon/gogcom.svg);
}

.esd-microsoftstore::after {
    background-image: url(//media.hungbok.net/image/icon/microsoftstore.svg);
}

.esd-eaapp::after {
    background-image: url(//media.hungbok.net/image/icon/ea.svg);
}

.esd-ubisoftstore::after {
    background-image: url(//media.hungbok.net/image/icon/ubisoft.svg);
}

.esd-xboxstore::after {
    background-image: url(//media.hungbok.net/image/icon/xbox.svg);
}

.esd-playstationstore::after {
    background-image: url(//media.hungbok.net/image/icon/playstation.svg);
}

.esd-humblebundle::after {
    background-image: url(//media.hungbok.net/image/icon/humblebundle.svg);
}

.esd-primegaming::after {
    background-image: url(//media.hungbok.net/image/icon/primegaming.svg);
}

.esd-playstationplus::after {
    background-image: url(//media.hungbok.net/image/icon/playstationplus.svg);
}

.esd-fanatical::after {
    background-image: url(//media.hungbok.net/image/icon/fanatical.svg);
}

.esd-humblechoice::after {
    background-image: url(//media.hungbok.net/image/icon/humblechoice.svg);
}

.esd-indiegala::after {
    background-image: url(//media.hungbok.net/image/icon/indiegala.svg);
}

.esd-itchio::after {
    background-image: url(//media.hungbok.net/image/icon/itchio.svg);
}

.hide-expired .item.expired {
    display: none;
}

.filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#dateFilterBtn,
.filterDataBtn,
.filterPlatformBtn {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    min-width: 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.filter-content img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#dateFilterBtn:hover,
.filterDataBtn:hover,
.filterPlatformBtn:hover {
    background-color: #222222;
}

#dateFilterBtn.active,
.filterDataBtn.active,
.filterPlatformBtn.active {
    background-color: #ffffff;
    color: #000000;
}

#dataContainer .item a.item-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
}

#dataContainer .item.games a.item-link {
    background: linear-gradient(90deg, #e6c300, 60%, #f7e589);
}

#dataContainer .item.bundle a.item-link {
    background: url(//media.hungbok.net/image/icon/bag.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #e67300, 60%, #f4bd85);
    padding: 10px 45px 10px 15px;
}

#dataContainer .item.subscription a.item-link {
    background: url(//media.hungbok.net/image/icon/credit-card.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #00e6a1, 60%, #90fddc);
    padding: 10px 45px 10px 15px;
}

#dataContainer .item.subscription.from-primegaming a.item-link {
    background: url(//media.hungbok.net/image/icon/primegaming_color.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #00e6a1, 60%, #90fddc);
}

#dataContainer .item.subscription.from-humblechoice a.item-link {
    background: url(//media.hungbok.net/image/icon/humblechoice_color.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #45e600, 60%, #a5ee86);
}

#dataContainer .item.subscription.from-playstationplus a.item-link {
    background: url(//media.hungbok.net/image/icon/playstationplus_color.svg) no-repeat calc(100% - 15px) center / 20px 20px, linear-gradient(90deg, #00b8e6, 60%, #89e2f8);
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes breath {
    0%, 100% {
        transform: scale(1);
    }
    6.25%, 93.75% {
        transform: scale(1.05);
    }
    12.5%, 87.5% {
        transform: scale(1);
    }
}

@keyframes shake {
    0%, 100% {
        transform: rotate(2.5deg);
    }
    6.25%, 93.75% {
        transform: rotate(-2.5deg);
    }
    12.5%, 87.5% {
        transform: rotate(0deg);
    }
}

@keyframes bell {
    0%, 100% {
        transform: rotate(2.5deg);
    }
    25%, 75% {
        transform: rotate(-2.5deg);
    }
    50% {
        transform: rotate(2.5deg);
    }
}