.icon-genshinimpact {
    background: url(//media.hungbok.net/image/icon/genshinimpact.svg) no-repeat center / 30px 30px, #d4c8b8;
}

.icon-honkaistarrail {
    background: url(//media.hungbok.net/image/icon/honkaistarrail.svg) no-repeat center / 30px 30px, #dbb3c5;
}

.icon-zenlesszonezero {
    background: url(//media.hungbok.net/image/icon/zenlesszonezero.svg) no-repeat center / 30px 30px, #f6892f;
}

.icon-vrchat {
    background: url(//media.hungbok.net/image/icon/vrchat.svg) no-repeat center / 30px 30px, linear-gradient(#0c65a9, #065087);
}

.icon-escapefromtarkov {
    background: url(//media.hungbok.net/image/icon/escapefromtarkov.svg) no-repeat center / 30px 30px, #22243f;
}

.icon-osu {
    background: url(//media.hungbok.net/image/icon/osu.svg) no-repeat center / 30px 30px, #e766a0;
}

.icon-roblox {
    background: url(//media.hungbok.net/image/icon/roblox.svg) no-repeat center / 30px 30px, #232527;
}

.icon-starcitizen {
    background: url(//media.hungbok.net/image/icon/starcitizen.svg) no-repeat center / 30px 30px, #000000;
}

.icon-minecraft {
    background: url(//media.hungbok.net/image/icon/minecraft.svg) no-repeat center / 30px 30px, #006400;
}

.icon-fortnite {
    background: url(//media.hungbok.net/image/icon/fortnite.svg) no-repeat center / 30px 30px, linear-gradient(135deg, #158fd8, #72cef1, #6ae2fe);
}

.icon-counterstrike {
    background: url(//media.hungbok.net/image/icon/counterstrike.svg) no-repeat center / 30px 30px, linear-gradient(to right, #faab18 50%, #28397f 50%);
}

.icon-dota {
    background: url(//media.hungbok.net/image/icon/dota.svg) no-repeat center / 30px 30px, #9b3425;
}

.icon-teamfortress {
    background: url(//media.hungbok.net/image/icon/teamfortress.svg) no-repeat center / 30px 30px, linear-gradient(#D09737, #5D1F0E);
}

.icon-halflife {
    background: url(//media.hungbok.net/image/icon/halflife.svg) no-repeat center / 30px 30px, #f37b21;
}

.icon-portal {
    background: url(//media.hungbok.net/image/icon/portal.svg) no-repeat center / 30px 30px, #26c3ff;
}

.icon-hypixel {
    color: #000000!important;
    background: url(//media.hungbok.net/image/icon/hypixel.svg) no-repeat center / 30px 30px, #f4bc42;
}

.icon-leagueoflegends {
    background: url(//media.hungbok.net/image/icon/leagueoflegends.svg) no-repeat center / 30px 30px, #c28f2c;
}

.icon-valorant {
    background: url(//media.hungbok.net/image/icon/valorant.svg) no-repeat center / 30px 30px, #ff4655;
}

.icon-grandtheftauto {
    background: url(//media.hungbok.net/image/icon/grandtheftauto.svg) no-repeat center / 30px 30px, #f19604;
}

.icon-grandtheftauto2 {
    background: url(//media.hungbok.net/image/icon/grandtheftauto2.svg) no-repeat center / 30px 30px, #000000;
}

.icon-grandtheftautoiii {
    background: url(//media.hungbok.net/image/icon/grandtheftautoiii.svg) no-repeat center / 30px 30px, #152731;
}

.icon-grandtheftautovicecity {
    background: url(//media.hungbok.net/image/icon/grandtheftautovicecity.svg) no-repeat center / 30px 30px, #0193ac;
}

.icon-grandtheftautosanandreas {
    background: url(//media.hungbok.net/image/icon/grandtheftautosanandreas.svg) no-repeat center / 30px 30px, #63875b;
}

.icon-grandtheftautoiv {
    background: url(//media.hungbok.net/image/icon/grandtheftautoiv.svg) no-repeat center / 30px 30px, #877766;
}

.icon-grandtheftautov {
    background: url(//media.hungbok.net/image/icon/grandtheftautov.svg) no-repeat center / 30px 30px, #357408;
}

.icon-grandtheftautovi {
    background: url(//media.hungbok.net/image/icon/grandtheftautovi.svg) no-repeat center / 30px 30px, #3b0455;
}

.icon-cyberpunk2077 {
    color: #000000!important;
    background: url(//media.hungbok.net/image/icon/cyberpunk2077.svg) no-repeat center / 30px 30px, #fbf602;
}

.icon-thronebreaker {
    background: url(//media.hungbok.net/image/icon/thronebreaker.svg) no-repeat center / 30px 30px, #5d6268;
}

.icon-gwent {
    background: url(//media.hungbok.net/image/icon/gwent.svg) no-repeat center / 30px 30px, #092d26;
}

.icon-thewitcher {
    background: url(//media.hungbok.net/image/icon/thewitcher.svg) no-repeat center / 30px 30px, #6d6661;
}

.icon-thewitcher2 {
    background: url(//media.hungbok.net/image/icon/thewitcher2.svg) no-repeat center / 30px 30px, #55483e;
}

.icon-thewitcher3 {
    background: url(//media.hungbok.net/image/icon/thewitcher3.svg) no-repeat center / 30px 30px, #8b8c9b;
}

.icon-dotaunderlords {
    background: url(//media.hungbok.net/image/icon/dotaunderlords.svg) no-repeat center / 30px 30px, #000000;
}

.icon-artifact {
    background: url(//media.hungbok.net/image/icon/artifact.svg) no-repeat center / 30px 30px, #a88d5d;
}

.icon-left4dead {
    background: url(//media.hungbok.net/image/icon/left4dead.svg) no-repeat center / 30px 30px, #ec1c24;
}

.icon-hytale {
    background: url(//media.hungbok.net/image/icon/hytale.svg) no-repeat center / 30px 30px, #587bb4;
}

.icon-legendsofruneterra {
    background: url(//media.hungbok.net/image/icon/legendsofruneterra.svg) no-repeat center / 30px 30px, #ffca28;
}

.icon-teamfighttactics {
    background: url(//media.hungbok.net/image/icon/teamfighttactics.svg) no-repeat center / 30px 30px, #ffb60d;
}

.icon-leagueoflegendswildrift {
    background: url(//media.hungbok.net/image/icon/leagueoflegendswildrift.svg) no-repeat center / 30px 30px, #4AC5F2;
}

.icon-warcraft {
    background: url(//media.hungbok.net/image/icon/warcraft.svg) no-repeat center / 30px 30px, #B8860B;
}

.icon-warcraftii {
    background: url(//media.hungbok.net/image/icon/warcraftii.svg) no-repeat center / 30px 30px, #B8860B;
}

.icon-warcraftiii {
    background: url(//media.hungbok.net/image/icon/warcraftiii.svg) no-repeat center / 30px 30px, #7f5417;
}

.icon-worldofwarcraft {
    background: url(//media.hungbok.net/image/icon/worldofwarcraft.svg) no-repeat center / 30px 30px, #a88a10;
}

.icon-worldofwarcraftclassic {
    background: url(//media.hungbok.net/image/icon/worldofwarcraftclassic.svg) no-repeat center / 30px 30px, #a88a10;
}

.icon-hearthstone {
    background: url(//media.hungbok.net/image/icon/hearthstone.svg) no-repeat center / 30px 30px, #8a6f24;
}

.icon-warcraftrumble {
    background: url(//media.hungbok.net/image/icon/warcraftrumble.svg) no-repeat center / 30px 30px, #bdb76b;
}

.icon-diablo {
    background: url(//media.hungbok.net/image/icon/diablo.svg) no-repeat center / 30px 30px, #ff0000;
}

.icon-diabloii {
    background: url(//media.hungbok.net/image/icon/diabloii.svg) no-repeat center / 30px 30px, #650001;
}

.icon-diabloiii {
    background: url(//media.hungbok.net/image/icon/diabloiii.svg) no-repeat center / 30px 30px, #8b181b;
}

.icon-diabloiv {
    background: url(//media.hungbok.net/image/icon/diabloiv.svg) no-repeat center / 30px 30px, #250303;
}

.icon-diabloimmortal {
    background: url(//media.hungbok.net/image/icon/diabloimmortal.svg) no-repeat center / 30px 30px, #92141b;
}

.icon-starcraft {
    background: url(//media.hungbok.net/image/icon/starcraft.svg) no-repeat center / 30px 30px, #223386;
}

.icon-starcraftii {
    background: url(//media.hungbok.net/image/icon/starcraftii.svg) no-repeat center / 30px 30px, #2a55aa;
}

.icon-overwatch {
    background: url(//media.hungbok.net/image/icon/overwatch.svg) no-repeat center / 30px 30px, #999999;
}

.icon-overwatch2 {
    background: url(//media.hungbok.net/image/icon/overwatch2.svg) no-repeat center / 30px 30px, #343e47;
}

.icon-heroesofthestorm {
    background: url(//media.hungbok.net/image/icon/heroesofthestorm.svg) no-repeat center / 30px 30px, #55a2d7;
}

.icon-blizzardarcadecollection {
    background: url(//media.hungbok.net/image/icon/blizzardarcadecollection.svg) no-repeat center / 30px 30px, #159ce4;
}

.icon-crashbandicoot {
    background: url(//media.hungbok.net/image/icon/crashbandicoot.svg) no-repeat center / 30px 30px, #081027;
}

.icon-callofduty {
    background: url(//media.hungbok.net/image/icon/callofduty.svg) no-repeat center / 30px 30px, #7f8387;
}

.icon-callofduty2 {
    background: url(//media.hungbok.net/image/icon/callofduty2.svg) no-repeat center / 30px 30px, #e1bd61;
}

.icon-callofduty3 {
    background: url(//media.hungbok.net/image/icon/callofduty3.svg) no-repeat center / 30px 30px, #8e7652;
}

.icon-callofduty4modernwarfare {
    background: url(//media.hungbok.net/image/icon/callofduty4modernwarfare.svg) no-repeat center / 30px 30px, #8c9f61;
}

.icon-callofdutyworldatwar {
    background: url(//media.hungbok.net/image/icon/callofdutyworldatwar.svg) no-repeat center / 30px 30px, #6b391f;
}

.icon-callofdutymodernwarfare2 {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfare2.svg) no-repeat center / 30px 30px, #ab814f;
}

.icon-callofdutyblackops {
    background: url(//media.hungbok.net/image/icon/callofdutyblackops.svg) no-repeat center / 30px 30px, #62655c;
}

.icon-callofdutymodernwarfare3 {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfare3.svg) no-repeat center / 30px 30px, #1d1d1d;
}

.icon-callofdutyblackopsii {
    background: url(//media.hungbok.net/image/icon/callofdutyblackopsii.svg) no-repeat center / 30px 30px, #000000;
}

.icon-callofdutyghosts {
    background: url(//media.hungbok.net/image/icon/callofdutyghosts.svg) no-repeat center / 30px 30px, #2d384a;
}

.icon-callofdutyadvancedwarfare {
    background: url(//media.hungbok.net/image/icon/callofdutyadvancedwarfare.svg) no-repeat center / 30px 30px, #1b1b1b;
}

.icon-callofdutyblackopsiii {
    background: url(//media.hungbok.net/image/icon/callofdutyblackopsiii.svg) no-repeat center / 30px 30px, #000000;
}

.icon-callofdutyinfinitewarfare {
    background: url(//media.hungbok.net/image/icon/callofdutyinfinitewarfare.svg) no-repeat center / 30px 30px, #576158;
}

.icon-callofdutymodernwarfareremastered {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfareremastered.svg) no-repeat center / 30px 30px, #628f5d;
}

.icon-callofdutywwii {
    background: url(//media.hungbok.net/image/icon/callofdutywwii.svg) no-repeat center / 30px 30px, #9b8c35;
}

.icon-callofdutyblackops4 {
    background: url(//media.hungbok.net/image/icon/callofdutyblackops4.svg) no-repeat center / 30px 30px, #202020;
}

.icon-callofdutymodernwarfare {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfare.svg) no-repeat center / 30px 30px, #5d5d5d;
}

.icon-callofdutywarzone {
    background: url(//media.hungbok.net/image/icon/callofdutywarzone.svg) no-repeat center / 30px 30px, #191d26;
}

.icon-callofdutymodernwarfare2campaignremastered {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfare2campaignremastered.svg) no-repeat center / 30px 30px, #c69344;
}

.icon-callofdutyblackopscoldwar {
    background: url(//media.hungbok.net/image/icon/callofdutyblackopscoldwar.svg) no-repeat center / 30px 30px, #bdb5b2;
}

.icon-callofdutyvanguard {
    background: url(//media.hungbok.net/image/icon/callofdutyvanguard.svg) no-repeat center / 30px 30px, #d6001c;
}

.icon-callofdutymodernwarfareii {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfareii.svg) no-repeat center / 30px 30px, #191d26;
}

.icon-callofdutymodernwarfareiii {
    background: url(//media.hungbok.net/image/icon/callofdutymodernwarfareiii.svg) no-repeat center / 30px 30px, #3b0000;
}

.icon-biohazard1 {
    background: url(//media.hungbok.net/image/icon/biohazard1.svg) no-repeat center / 30px 30px, #37332c;
}

.icon-biohazard2 {
    background: url(//media.hungbok.net/image/icon/biohazard2.svg) no-repeat center / 30px 30px, #120607;
}

.icon-biohazard3 {
    background: url(//media.hungbok.net/image/icon/biohazard3.svg) no-repeat center / 30px 30px, #1e1b18;
}

.icon-biohazardcodeveronica {
    background: url(//media.hungbok.net/image/icon/biohazardcodeveronica.svg) no-repeat center / 30px 30px, #062036;
}

.icon-biohazard0 {
    background: url(//media.hungbok.net/image/icon/biohazard0.svg) no-repeat center / 30px 30px, #1d1109;
}

.icon-biohazard4 {
    background: url(//media.hungbok.net/image/icon/biohazard4.svg) no-repeat center / 30px 30px, #08121f;
}

.icon-biohazard5 {
    background: url(//media.hungbok.net/image/icon/biohazard5.svg) no-repeat center / 30px 30px, #100a09;
}

.icon-biohazardrevelations {
    background: url(//media.hungbok.net/image/icon/biohazardrevelations.svg) no-repeat center / 30px 30px, #2b3243;
}

.icon-biohazard6 {
    background: url(//media.hungbok.net/image/icon/biohazard6.svg) no-repeat center / 30px 30px, #3b3c46;
}

.icon-biohazardrevelations2 {
    background: url(//media.hungbok.net/image/icon/biohazardrevelations2.svg) no-repeat center / 30px 30px, #38161b;
}

.icon-biohazard7 {
    background: url(//media.hungbok.net/image/icon/biohazard7.svg) no-repeat center / 30px 30px, #5d3e2d;
}

.icon-biohazardvillage {
    background: url(//media.hungbok.net/image/icon/biohazardvillage.svg) no-repeat center / 30px 30px, #0d1315;
}

.icon-biohazardre1 {
    background: url(//media.hungbok.net/image/icon/biohazardre1.svg) no-repeat center / 30px 30px, #2b2420;
}

.icon-biohazardre2 {
    background: url(//media.hungbok.net/image/icon/biohazardre2.svg) no-repeat center / 30px 30px, #303a3d;
}

.icon-biohazardre3 {
    background: url(//media.hungbok.net/image/icon/biohazardre3.svg) no-repeat center / 30px 30px, #161927;
}

.icon-biohazardre4 {
    background: url(//media.hungbok.net/image/icon/biohazardre4.svg) no-repeat center / 30px 30px, #151a1e;
}

.icon-littlenightmares {
    background: url(//media.hungbok.net/image/icon/littlenightmares.svg) no-repeat center / 30px 30px, #d0a601;
}

.icon-littlenightmaresii {
    background: url(//media.hungbok.net/image/icon/littlenightmaresii.svg) no-repeat center / 30px 30px, #10232a;
}

.icon-littlenightmaresiii {
    background: url(//media.hungbok.net/image/icon/littlenightmaresiii.svg) no-repeat center / 30px 30px, #000000;
}

.icon-untildawn {
    background: url(//media.hungbok.net/image/icon/untildawn.svg) no-repeat center / 30px 30px, #1c4349;
}

.icon-thequarry {
    background: url(//media.hungbok.net/image/icon/thequarry.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologymanofmedan {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthologymanofmedan.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologylittlehope {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthologylittlehope.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologyhouseofashes {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthologyhouseofashes.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologythedevilinme {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthologythedevilinme.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologydirective8020 {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthology.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologyintercession {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthology.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologywinterfold {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthology.svg) no-repeat center / 30px 30px, #000000;
}

.icon-thedarkpicturesanthologythecravenman {
    background: url(//media.hungbok.net/image/icon/thedarkpicturesanthology.svg) no-repeat center / 30px 30px, #000000;
}

.icon-heavyrain {
    background: url(//media.hungbok.net/image/icon/heavyrain.svg) no-repeat center / 30px 30px, #50442f;
}

.icon-beyondtwosouls {
    background: url(//media.hungbok.net/image/icon/beyondtwosouls.svg) no-repeat center / 30px 30px, #8bb4d1;
}

.icon-detroitbecomehuman {
    background: url(//media.hungbok.net/image/icon/detroitbecomehuman.svg) no-repeat center / 30px 30px, #3b4065;
}

.icon-underthewaves {
    background: url(//media.hungbok.net/image/icon/underthewaves.svg) no-repeat center / 30px 30px, #081c42;
}

.icon-reddeadredemption {
    background: url(//media.hungbok.net/image/icon/reddeadredemption.svg) no-repeat center / 30px 30px, #000000;
}

.icon-reddeadredemptionii {
    background: url(//media.hungbok.net/image/icon/reddeadredemptionii.svg) no-repeat center / 30px 30px, #000000;
}

.icon-fallguys {
    background: url(//media.hungbok.net/image/icon/fallguys.svg) no-repeat center / 30px 30px, linear-gradient(to right, #2ed7de, #f73ba2);
}

.icon-rocketleague {
    background: url(//media.hungbok.net/image/icon/rocketleague.svg) no-repeat center / 30px 30px, linear-gradient(to right, #6DCEF8, #043449);
}