/* 헤더 */

.language-select[data-lang="ja"] {
    pointer-events: none;
}

.language-select[data-lang="ja"]::before {
    content: "";
}

.side-panel-menu-text,
.language-text::after {
    font-family: 'M PLUS 1 Code',"monospace","Lato","Noto Sans JP","Open Sans",sans-serif;
}

/* 활성 언어 */

.language-en:after,
.language-select[data-lang="en"] .language-text::after {
    content: "英語";
}

.language-ja:after,
.language-select[data-lang="ja"] .language-text::after {
    content: "日本語";
}

.language-ko:after,
.language-select[data-lang="ko"] .language-text::after {
    content: "韓国語";
}

/* 비활성 언어 */

.language-en-gb:after,
.language-select[data-lang="en-gb"] .language-text::after {
    content: "英語（イギリス）";
}

.language-en-ca:after,
.language-select[data-lang="en-ca"] .language-text::after {
    content: "英語（カナダ）";
}

.language-en-au:after,
.language-select[data-lang="en-au"] .language-text::after {
    content: "英語（オーストラリア）";
}

.language-id:after,
.language-select[data-lang="id"] .language-text::after {
    content: "インドネシア語";
}

.language-ms:after,
.language-select[data-lang="ms"] .language-text::after {
    content: "マレー語";
}

.language-cs:after,
.language-select[data-lang="cs"] .language-text::after {
    content: "チェコ語";
}

.language-da:after,
.language-select[data-lang="da"] .language-text::after {
    content: "デンマーク語";
}

.language-de:after,
.language-select[data-lang="de"] .language-text::after {
    content: "ドイツ語";
}

.language-es:after,
.language-select[data-lang="es"] .language-text::after {
    content: "スペイン語";
}

.language-es-mx:after,
.language-select[data-lang="es-mx"] .language-text::after {
    content: "スペイン語（メキシコ）";
}

.language-fr:after,
.language-select[data-lang="fr"] .language-text::after {
    content: "フランス語";
}

.language-fr-ca:after,
.language-select[data-lang="fr-ca"] .language-text::after {
    content: "フランス語（カナダ）";
}

.language-it:after,
.language-select[data-lang="it"] .language-text::after {
    content: "イタリア語";
}

.language-hu:after,
.language-select[data-lang="hu"] .language-text::after {
    content: "ハンガリー語";
}

.language-nl:after,
.language-select[data-lang="nl"] .language-text::after {
    content: "オランダ語";
}

.language-no:after,
.language-select[data-lang="no"] .language-text::after {
    content: "ノルウェー語";
}

.language-pl:after,
.language-select[data-lang="pl"] .language-text::after {
    content: "ポーランド語";
}

.language-pt:after,
.language-select[data-lang="pt"] .language-text::after {
    content: "ポルトガル語";
}

.language-pt-br:after,
.language-select[data-lang="pt-br"] .language-text::after {
    content: "ポルトガル語（ブラジル）";
}

.language-ro:after,
.language-select[data-lang="ro"] .language-text::after {
    content: "ルーマニア語";
}

.language-fi:after,
.language-select[data-lang="fi"] .language-text::after {
    content: "フィンランド語";
}

.language-sv:after,
.language-select[data-lang="sv"] .language-text::after {
    content: "スウェーデン語";
}

.language-vi:after,
.language-select[data-lang="vi"] .language-text::after {
    content: "ベトナム語";
}

.language-tr:after,
.language-select[data-lang="tr"] .language-text::after {
    content: "トルコ語";
}

.language-bg:after,
.language-select[data-lang="bg"] .language-text::after {
    content: "ブルガリア語";
}

.language-ru:after,
.language-select[data-lang="ru"] .language-text::after {
    content: "ロシア語";
}

.language-uk:after,
.language-select[data-lang="uk"] .language-text::after {
    content: "ウクライナ語";
}

.language-el:after,
.language-select[data-lang="el"] .language-text::after {
    content: "ギリシャ語";
}

.language-ar:after,
.language-select[data-lang="ar"] .language-text::after {
    content: "アラビア語";
}

.language-hi:after,
.language-select[data-lang="hi"] .language-text::after {
    content: "ヒンディー語";
}

.language-th:after,
.language-select[data-lang="th"] .language-text::after {
    content: "タイ語";
}

.language-zh-cn:after,
.language-select[data-lang="zh-cn"] .language-text::after {
    content: "中国語（簡体字）";
}

.language-zh-tw:after,
.language-select[data-lang="zh-tw"] .language-text::after {
    content: "中国語（繁体字）";
}

/* 미사용

.language-select[data-lang="en-us"] .language-text::after {
    content: "영어(미국)";
}

.language-select[data-lang="cs-cz"] .language-text::after {
    content: "체코어(체코)";
}

.language-select[data-lang="de-de"] .language-text::after {
    content: "독일어(독일)";
}

.language-select[data-lang="es-es"] .language-text::after {
    content: "스페인어(스페인)";
}

.language-select[data-lang="fi-fi"] .language-text::after {
    content: "핀란드어(핀란드)";
}

.language-select[data-lang="fr-fr"] .language-text::after {
    content: "프랑스어(프랑스)";
}

.language-select[data-lang="hu-hu"] .language-text::after {
    content: "헝가리어(헝가리)";
}

.language-select[data-lang="hi-in"] .language-text::after {
    content: "힌디어(인도)";
}

.language-select[data-lang="it-it"] .language-text::after {
    content: "이탈리아어(이탈리아)";
}

.language-select[data-lang="nl-nl"] .language-text::after {
    content: "네덜란드어(네덜란드)";
}

.language-select[data-lang="pl-pl"] .language-text::after {
    content: "폴란드어(폴란드)";
}

.language-select[data-lang="pt-pt"] .language-text::after {
    content: "포르투갈어(포르투갈)";
}

.language-select[data-lang="ru-ru"] .language-text::after {
    content: "러시아어(러시아)";
}

.language-select[data-lang="ar-sa"] .language-text::after {
    content: "아랍어(사우디아라비아)";
}

.language-select[data-lang="th-th"] .language-text::after {
    content: "태국어(태국)";
}

.language-select[data-lang="tr-tr"] .language-text::after {
    content: "튀르키예어(튀르키예)";
}

.language-select[data-lang="uk-ua"] .language-text::after {
    content: "우크라이나어(우크라이나)";
}

.language-select[data-lang="zh"] .language-text::after {
    content: "중국어";
}

.language-select[data-lang="ja-jp"] .language-text::after {
    content: "일본어(일본)";
}

.language-select[data-lang="ko-kr"] .language-text::after {
    content: "한국어(대한민국)";
}

.language-select[data-lang="zh-hans"] .language-text::after {
    content: "중국어(간체)";
}

.language-select[data-lang="zh-hant"] .language-text::after {
    content: "중국어(번체)";
}

.language-select[data-lang="bg-bg"] .language-text::after {
    content: "불가리아어(불가리아)";
}

.language-select[data-lang="ms-id"] .language-text::after {
    content: "인도네시아어(인도네시아)";
}

.language-select[data-lang="el-gr"] .language-text::after {
    content: "그리스어(그리스)";
}

.language-select[data-lang="no-no"] .language-text::after {
    content: "노르웨이어(노르웨이)";
}

.language-select[data-lang="da-dk"] .language-text::after {
    content: "덴마크어(덴마크)";
}

.language-select[data-lang="sv-se"] .language-text::after {
    content: "스웨덴어(스웨덴)";
}

.language-select[data-lang="ro-ro"] .language-text::after {
    content: "루마니아어(루마니아)";
}

.language-select[data-lang="vi-vn"] .language-text::after {
    content: "베트남어(베트남)";
} */

.info-th > p::after {
    content: "詳細情報";
}

.early-access-date::before {
    content: "早期アクセス";
}

.full-release-date::before {
    content: "正式リリース";
}

.description-source::before {
    content: "ソース | ";
}

.description-update::before {
    content: "最終更新 | ";
}

.show-more::after {
    content: "表示を増やす";
}

.show-more.open::after {
    content: "表示を減らす";
}

.franchise > .details > summary::after {
    content: "[ 表示 · 隠す ]";
}

.text-report-title::after {
    content: "報告";
}

.text-report-text::after {
    content: "報告の理由を選択してください。";
}

.report-item#option1 p::after {
    content: "不適切なコンテンツ";
}
.report-item#option1::after {
    content: "公序良俗に反する、または適切でないと見なされるコンテンツ。これには性的な表現、暴力的な画像や言語、ヘイトスピーチなどが含まれます。";
}
.report-item#option2 p::after {
    content: "脅迫的なコンテンツ";
}
.report-item#option2::after {
    content: "個人やグループを脅迫したり攻撃したりするコンテンツ。これは直接的な物理的脅迫から、暴力や嫌がらせを間接的に扇動する言語や行動まで様々です。";
}
.report-item#option3 p::after {
    content: "違法なコンテンツ";
}
.report-item#option3::after {
    content: "地元の法律に違反するコンテンツ、著作権、商標、プライバシー権などを侵害するコンテンツも含まれます。";
}
.report-item#option4 p::after {
    content: "有害なコンテンツ";
}
.report-item#option4::after {
    content: "心理的または感情的に有害なコンテンツ。中傷、虐待、差別、ヘイトスピーチ、児童虐待などが含まれます。";
}
.report-item#option5 p::after {
    content: "プライバシー侵害と名誉毀損";
}
.report-item#option5::after {
    content: "個人情報を違法に露呈させたり、名誉を毀損する行為。";
}
.report-item#option6 p::after {
    content: "スパムおよび詐欺的なコンテンツ";
}
.report-item#option6::after {
    content: "不適切なマーケティングや広告、スパムリンク、セキュリティ上の脅威、ユーザーを欺いたり傷つける目的のあるコンテンツ。";
}
.report-item#option7 p::after {
    content: "誤った情報や事実の提供";
}
.report-item#option7::after {
    content: "フェイクニュース、噂、または事実確認が必要な誤った情報を提供する場合です。";
}

.text-report-more::before {
    content: "まだ問題がありますか？";
}

.text-report-help::after {
    content: "お問い合わせ";
}

.text-share-title::after {
    content: "共有";
}

.text-share-text::after {
    content: "共有するサービスを選択してください。";
}

.grid-date-year::after,
.sale-date > .date-container > p:first-child::after,
.calendar-item-year::after {
    content: "年";
}

.grid-date-month::after,
.sale-date > .date-container > p:nth-child(2)::after,
.calendar-item-month::after {
    content: "月";
}

.grid-date-day::after,
.sale-date > .date-container > p:last-child::after,
.calendar-item-day::after {
    content: "日";
}

#dataContainer .item.expired::before {
    content: "終了";
}

#dataContainer .item a.item-link::after {
    content: "でもらう";
}

#dataContainer .item.games a.item-link::after {
    content: "でもらう";
}

#dataContainer .item.bundle a.item-link::after {
    content: "で購入";
}

#dataContainer .item.trials a.item-link::after {
    content: "でトライアルをプレイ";
}

#dataContainer .item.subscription a.item-link::after {
    content: "をサブスクライブ";
}

.external-link.icon-steam::after,
#dataContainer .item.from-steam a.item-link::before {
    content: "Steam";
}

.external-link.icon-epicgamesstore::after,
#dataContainer .item.from-epicgamesstore a.item-link::before {
    content: "Epic Gamesストア";
}

.external-link.icon-gogcom::after,
#dataContainer .item.from-gogcom a.item-link::before {
    content: "GOG.com";
}

.external-link.icon-eaapp::after,
#dataContainer .item.from-eaapp a.item-link::before {
    content: "EA";
}

.external-link.icon-microsoftstore::after,
#dataContainer .item.from-microsoftstore a.item-link::before {
    content: "Microsoftストア";
}

.external-link.icon-ubisoftconnect::after,
#dataContainer .item.from-ubisoftstore a.item-link::before {
    content: "Ubisoftストア";
}

.external-link.icon-battlenet::after,
#dataContainer .item.from-battlenet a.item-link::before {
    content: "Battle.net";
}

.external-link.icon-xboxgamesstore::after,
#dataContainer .item.from-xboxstore a.item-link::before {
    content: "Xboxストア";
}

.external-link.icon-playstationstore::after,
#dataContainer .item.from-playstationstore a.item-link::before {
    content: "Playstationストア";
}

#dataContainer .item.from-nintendoeshop a.item-link::before {
    content: "Nintendo Switch";
}

#dataContainer .item.from-humblebundle a.item-link::before {
    content: "Humble Bundle";
}

#dataContainer .item.from-fanatical a.item-link::before {
    content: "Fanatical";
}

#dataContainer .item.from-indiegala a.item-link::before {
    content: "Indiegala";
}

#dataContainer .item.from-itchio a.item-link::before {
    content: "itch.io";
}

#dataContainer .item.from-primegaming a.item-link::before {
    content: "Prime Gaming";
}

#dataContainer .item.from-xboxgamepass a.item-link::before {
    content: "Xbox Game Pass";
}

#dataContainer .item.from-playstationplus a.item-link::before {
    content: "PlayStation Plus";
}

#dataContainer .item.from-nintendoswitchonline a.item-link::before {
    content: "Nintendo Switch Online";
}

#dataContainer .item.from-humblechoice a.item-link::before {
    content: "Humble Choice";
}

.item.unknown .timer-container.end::after {
    content: "不明";
}

.item .timer-container.start::before,
.sale-timer.timer-container.start::before {
    content: "開始まで";
}

.sale-timer.timer-container.end::before {
    content: "終了まで";
}

body.en .middle-content::before {
    content: "このページは日本語に翻訳されていません。";
    grid-column-start: 1;
    grid-column-end: 3;
    outline: var(--red-5) solid 1px;
    color: var(--red-5);
    padding: 10px 0px;
    border-radius: 20px;
}

.searchingValue > #searchingValue::before {
    content: "検索したキーワード: ";
}

.searchingValue > #searchingValueNumber::before {
    content: "全";
}

.searchingValue > #searchingValueNumber::after {
    content: "件検索しました";
}

.game-section .item-desc p:after {
    content: "詳細を見る";
}

.external-link.icon-rockstargameslauncher::after {
    content: "ロックスターストア";
}

.external-link.icon-stove::after {
    content: "Stove";
}

.external-link.icon-nintendoeshop::after {
    content: "닌텐도 이숍";
}

.external-link.icon-metastore::after {
    content: "메타 스토어";
}

.external-link.icon-googleplay::after {
    content: "구글 플레이";
}

.external-link.icon-appstore::after {
    content: "앱 스토어";
}

.external-link.icon-galaxystore::after {
    content: "갤럭시 스토어";
}

.external-link.icon-xboxcloudgaming::after {
    content: "엑스박스 클라우드 게이밍";
}

.external-link.icon-amazonluna::after {
    content: "아마존 루나";
}

.external-link.icon-stadia::after {
    content: "스테디아";
}

.external-link.icon-geforcenow::after {
    content: "지포스 나우";
}

.external-link.icon-facebook::after {
    content: "페이스북";
}

.external-link.icon-instagram::after {
    content: "인스타그램";
}

.external-link.icon-x::after {
    content: "X";
}

.external-link.icon-threads::after {
    content: "쓰레드";
}

.external-link.icon-linkedin::after {
    content: "링크드인";
}

.external-link.icon-bluesky::after {
    content: "블루스카이";
}

.external-link.icon-kakaostory::after {
    content: "카카오스토리";
}

.external-link.icon-tumblr::after {
    content: "텀블러";
}

.external-link.icon-pinterest::after {
    content: "핀터레스트";
}

.external-link.icon-vk::after {
    content: "브콘탁테";
}

.external-link.icon-waibo::after {
    content: "웨이보";
}

.external-link.icon-mastodon::after {
    content: "마스토돈";
}

.external-link.icon-parler::after {
    content: "팔러";
}

.external-link.icon-misskey::after {
    content: "미스키";
}

.external-link.icon-truthsocial::after {
    content: "트루스 소셜";
}

.external-link.icon-discord::after {
    content: "디스코드";
}

.external-link.icon-kakaotalk::after {
    content: "카카오톡";
}

.external-link.icon-line::after {
    content: "라인";
}

.external-link.icon-skype::after {
    content: "스카이프";
}

.external-link.icon-snapchat::after {
    content: "스냅챗";
}

.external-link.icon-whatsapp::after {
    content: "왓츠앱";
}

.external-link.icon-wechat::after {
    content: "위챗";
}

.external-link.icon-telegram::after {
    content: "텔레그램";
}

.external-link.icon-qq::after {
    content: "QQ";
}

.external-link.icon-viber::after {
    content: "바이버";
}

.external-link.icon-messenger::after {
    content: "메신저";
}

.external-link.icon-navercafe::after {
    content: "네이버 카페";
}

.external-link.icon-reddit::after {
    content: "레딧";
}

.external-link.icon-wikipedia::after {
    content: "위키백과";
}

.external-link.icon-fandom::after {
    content: "팬덤";
}

.external-link.icon-namuwiki::after {
    content: "나무위키";
}

.external-link.icon-niconicodaihyakka::after {
    content: "니코니코 대백과";
}

.external-link.icon-pixivhyakkajiten::after {
    content: "픽시브 백과사전";
}

.external-link.icon-baidubaike::after {
    content: "바이두 백과";
}

.external-link.icon-youtube::after {
    content: "유튜브";
}

.external-link.icon-tiktok::after {
    content: "틱톡";
}

.external-link.icon-chzzk::after {
    content: "치지직";
}

.external-link.icon-kick::after {
    content: "킥";
}

.external-link.icon-twitch::after {
    content: "트위치";
}

.external-link.icon-niconicodouga::after {
    content: "니코니코 동화";
}

.external-link.icon-bilibili::after {
    content: "빌리빌리";
}

.external-link.icon-spotify::after {
    content: "스포티파이";
}

.external-link.icon-applemusic::after {
    content: "애플 뮤직";
}

.external-link.icon-youtubemusic::after {
    content: "유튜브 뮤직";
}

.external-link.icon-amazonmusic::after {
    content: "아마존 뮤직";
}

.external-link.icon-soundcloud::after {
    content: "사운드클라우드";
}

.external-link.icon-deezer::after {
    content: "디저";
}

.external-link.icon-vibe::after {
    content: "네이버 바이브";
}

.external-link.icon-linemusic::after {
    content: "라인 뮤직";
}

.external-link.icon-netflix::after {
    content: "넷플릭스";
}

.external-link.icon-disneyplus::after {
    content: "디즈니 플러스";
}

.external-link.icon-primevideo::after {
    content: "프라임 비디오";
}

.external-link.icon-appletv::after {
    content: "애플 티비";
}

.external-link.icon-appletvplus::after {
    content: "애플 티비+";
}

.external-link.icon-hulu::after {
    content: "훌루";
}

.external-link.icon-paramountplus::after {
    content: "파라마운트+";
}

.external-link.icon-max::after {
    content: "맥스";
}

.external-link.icon-crunchyroll::after {
    content: "크런치롤";
}

.external-link.icon-hulujapan::after {
    content: "훌루";
}

.external-link.icon-unext::after {
    content: "유-넥스트";
}

.external-link.icon-abema::after {
    content: "아베마";
}

.external-link.icon-fod::after {
    content: "FOD";
}

.external-link.icon-animehodai::after {
    content: "애니메이션무제한";
}

.external-link.icon-danimestore::after {
    content: "d아니메스토어";
}

.external-link.icon-bandaichannel::after {
    content: "반다이 채널";
}

.external-link.icon-dmmtv::after {
    content: "DMM 티비";
}

.external-link.icon-jcom::after {
    content: "J:COM 스트림";
}

.external-link.icon-telasa::after {
    content: "테라사";
}

.external-link.icon-milplus::after {
    content: "밀플러스";
}

.external-link.icon-lemino::after {
    content: "레미노";
}

.external-link.icon-tver::after {
    content: "티바";
}

.external-link.icon-wowow::after {
    content: "와우와우";
}

.external-link.icon-wavve::after {
    content: "웨이브";
}

.external-link.icon-tving::after {
    content: "티빙";
}

.external-link.icon-watcha::after {
    content: "왓챠";
}

.external-link.icon-coupangplay::after {
    content: "쿠팡플레이";
}

.external-link.icon-serieson::after {
    content: "시리즈 온";
}

.external-link.icon-laftel::after {
    content: "라프텔";
}

.external-link.icon-aniplus::after {
    content: "애니플러스";
}

.external-link.icon-uplusmobiletv::after {
    content: "U+모바일tv";
}

.external-link.icon-cinefox::after {
    content: "씨네폭스";
}

.external-link.icon-jbox::after {
    content: "제이박스";
}

.external-link.icon-googleplaymovies::after {
    content: "구글 플레이 무비";
}

.external-link.icon-googletv::after {
    content: "구글 티비";
}

.external-link.icon-rakutenviki::after {
    content: "라쿠텐 비키";
}

.more-info-tab.windows::after {
    content: "윈도우";
}

.more-info-tab.mac::after {
    content: "맥";
}

.more-info-tab.linux::after {
    content: "리눅스";
}

.episode-table > thead > tr > th:nth-child(1):before {
    content: "회차";
}

.episode-table > thead > tr > th:nth-child(2)::before {
    content: "제목";
}

.episode-table > thead > tr > th:nth-child(3)::before {
    content: "각본";
}

.episode-table > thead > tr > th:nth-child(4)::before {
    content: "콘티";
}

.episode-table > thead > tr > th:nth-child(5)::before {
    content: "연출";
}

.episode-table > thead > tr > th:nth-child(6)::before {
    content: "작화감독";
}

.episode-table > thead > tr > th:nth-child(7)::before {
    content: "방영일";
}

.music-table > thead > tr > th:nth-child(1):before {
    content: "트랙";
}

.music-table > thead > tr > th:nth-child(2)::before {
    content: "곡명";
}

.music-table > thead > tr > th:nth-child(3)::before {
    content: "작사";
}

.music-table > thead > tr > th:nth-child(4)::before {
    content: "작곡";
}

.music-table > thead > tr > th:nth-child(5)::before {
    content: "편곡";
}

.music-table > thead > tr > th:nth-child(6)::before {
    content: "길이";
}

.music-table > thead > tr > th:nth-child(7)::before {
    content: "듣기";
}

.tv-table > thead > tr > th:nth-child(1):before {
    content: "회차";
}

.tv-table > thead > tr > th:nth-child(2)::before {
    content: "제목";
}

.tv-table > thead > tr > th:nth-child(3)::before {
    content: "내용";
}

.tv-table > thead > tr > th:nth-child(4)::before {
    content: "연출";
}

.tv-table > thead > tr > th:nth-child(5)::before {
    content: "러닝타임";
}

.tv-table > thead > tr > th:nth-child(6)::before {
    content: "방영일자";
}