#searchInput {
    width: calc(50% - 60px);
    border: none;
    padding: 20px 30px;
    margin: 0;
    color: var(--text-2);
    background-color: var(--background-7);
    border-radius: 20px;
}

#searchResults {
    width: 50%;
    margin: 0 auto;
}

.item {
    position: relative;
    background-color: var(--background-8);
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
}

.url {
    cursor: pointer;
}

#pagination {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--text-4);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--text-10);
}

button.active {
    background-color: var(--hungbok);
    color: var(--background-10);
}

button:disabled {
    cursor: not-allowed;
    background-color: var(--background-8);
    color: var(--background-4);
}

#pagination > span {
    padding: 10px;
    pointer-events: none;
}

#searchResults img {
    max-width: 20px;
    max-height: 20px;
    pointer-events: none;
    filter: brightness(0.75);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}