

/* system */

.logo-pc {
    background: url(//media.hungbok.net/image/logo/pc.svg) no-repeat center;
}

.logo-ios {
    background: url(//media.hungbok.net/image/icon/ios.svg) no-repeat center;
}

.logo-android {
    background: url(//media.hungbok.net/image/logo/android.svg) no-repeat center;
}

.logo-playstation {
    background: url(//media.hungbok.net/image/logo/playstation.svg) no-repeat center;
}

.logo-playstationvr2 {
    background: url(//media.hungbok.net/image/logo/playstationvr2.svg) no-repeat center;
}

.logo-playstation5 {
    background: url(//media.hungbok.net/image/logo/playstation5.svg) no-repeat center;
}

.logo-playstation4pro {
    background: url(//media.hungbok.net/image/logo/playstation4pro.svg) no-repeat center;
}

.logo-playstationvr {
    background: url(//media.hungbok.net/image/logo/playstationvr.svg) no-repeat center;
}

.logo-playstation4 {
    background: url(//media.hungbok.net/image/logo/playstation4.svg) no-repeat center;
}

.logo-playstationvita {
    background: url(//media.hungbok.net/image/logo/playstationvita.svg) no-repeat center;
}

.logo-playstation3 {
    background: url(//media.hungbok.net/image/logo/playstation3.svg) no-repeat center;
}

.logo-playstationportable {
    background: url(//media.hungbok.net/image/logo/playstationportable.svg) no-repeat center;
}

.logo-playstation2 {
    background: url(//media.hungbok.net/image/logo/playstation2.svg) no-repeat center;
}

.logo-playstation1 {
    background: url(//media.hungbok.net/image/logo/playstation1.svg) no-repeat center;
}

.logo-xbox {
    background: url(//media.hungbok.net/image/logo/xbox.svg) no-repeat center;
}

.logo-xboxseriesxs {
    background: url(//media.hungbok.net/image/logo/xboxseriesxs.svg) no-repeat center;
}

.logo-xboxseriesx {
    background: url(//media.hungbok.net/image/logo/xboxseriesx.svg) no-repeat center;
}

.logo-xboxseriess {
    background: url(//media.hungbok.net/image/logo/xboxseriess.svg) no-repeat center;
}

.logo-xboxonex {
    background: url(//media.hungbok.net/image/logo/xboxonex.svg) no-repeat center;
}

.logo-xboxone {
    background: url(//media.hungbok.net/image/logo/xboxone.svg) no-repeat center;
}

.logo-xbox360 {
    background: url(//media.hungbok.net/image/logo/xbox360.svg) no-repeat center;
}

.logo-xbox1 {
    background: url(//media.hungbok.net/image/logo/xbox1.svg) no-repeat center;
}

.logo-nintendo {
    background: url(//media.hungbok.net/image/logo/nintendo.svg) no-repeat center;
}

.logo-nintendoswitch {
    background: url(//media.hungbok.net/image/logo/nintendoswitch.svg) no-repeat center;
}

.logo-newnintendo2dsll {
    background: url(//media.hungbok.net/image/logo/newnintendo2dsll.svg) no-repeat center;
}

.logo-newnintendo2dsxl {
    background: url(//media.hungbok.net/image/logo/newnintendo2dsxl.svg) no-repeat center;
}

.logo-newnintendo3dsll {
    background: url(//media.hungbok.net/image/logo/newnintendo3dsll.svg) no-repeat center;
}

.logo-newnintendo3dsxl {
    background: url(//media.hungbok.net/image/logo/newnintendo3dsxl.svg) no-repeat center;
}

.logo-newnintendo3ds {
    background: url(//media.hungbok.net/image/logo/newnintendo3ds.svg) no-repeat center;
}

.logo-wiiu {
    background: url(//media.hungbok.net/image/logo/wiiu.svg) no-repeat center;
}

.logo-nintendo3dsll {
    background: url(//media.hungbok.net/image/logo/nintendo3dsll.svg) no-repeat center;
}

.logo-nintendo3dsxl {
    background: url(//media.hungbok.net/image/logo/nintendo3dsxl.svg) no-repeat center;
}

.logo-nintendo2ds {
    background: url(//media.hungbok.net/image/logo/nintendo2ds.svg) no-repeat center;
}

.logo-nintendo3ds {
    background: url(//media.hungbok.net/image/logo/nintendo3ds.svg) no-repeat center;
}

.logo-nintendodsi {
    background: url(//media.hungbok.net/image/logo/nintendodsi.svg) no-repeat center;
}

.logo-wii {
    background: url(//media.hungbok.net/image/logo/wii.svg) no-repeat center;
}

.logo-nintendods {
    background: url(//media.hungbok.net/image/logo/nintendods.svg) no-repeat center;
}

.logo-nintendogamecube {
    background: url(//media.hungbok.net/image/logo/nintendogamecube.svg) no-repeat center;
}

.logo-gameboyadvance {
    background: url(//media.hungbok.net/image/logo/gameboyadvance.svg) no-repeat center;
}

.logo-gameboycolor {
    background: url(//media.hungbok.net/image/logo/gameboycolor.svg) no-repeat center;
}

.logo-nintendo64 {
    background: url(//media.hungbok.net/image/logo/nintendo64.svg) no-repeat center;
}

.logo-virtualboy {
    background: url(//media.hungbok.net/image/logo/virtualboy.svg) no-repeat center;
}

.logo-supernintendoentertainmentsystem {
    background: url(//media.hungbok.net/image/logo/supernintendoentertainmentsystem.svg) no-repeat center;
}

.logo-superfamicom {
    background: url(//media.hungbok.net/image/logo/superfamicom.svg) no-repeat center;
}

.logo-gameboy {
    background: url(//media.hungbok.net/image/logo/gameboy.svg) no-repeat center;
}

.logo-nintendoentertainmentsystem {
    background: url(//media.hungbok.net/image/logo/nintendoentertainmentsystem.svg) no-repeat center;
}

.logo-familycomputer {
    background: url(//media.hungbok.net/image/logo/familycomputer.svg) no-repeat center;
}

.logo-gameandwatch {
    background: url(//media.hungbok.net/image/logo/gameandwatch.svg) no-repeat center;
}