/* ---------- Font ---------- */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/* ---------- Color ---------- */

:root {
    --hungbok: #e6c300;
    --primary: #0d6efd;
    --success: #198754;
    --warning: #ffc107;
    --danger: #fd7e14;
    --error: #dc3545;
    --shadow: #000000;
    --blue-1: #cfe2ff;
    --blue-2: #9ec5fe;
    --blue-3: #6ea8fe;
    --blue-4: #3d8bfd;
    --blue-5: #0d6efd;
    --blue-6: #0a58ca;
    --blue-7: #084298;
    --blue-8: #052c65;
    --blue-9: #031633;
    --indigo-1: #e0cffc;
    --indigo-2: #c29ffa;
    --indigo-3: #a370f7;
    --indigo-4: #8540f5;
    --indigo-5: #6610f2;
    --indigo-6: #520dc2;
    --indigo-7: #3d0a91;
    --indigo-8: #290661;
    --indigo-9: #140330;
    --purple-1: #e2d9f3;
    --purple-2: #c5b3e6;
    --purple-3: #a98eda;
    --purple-4: #8c68cd;
    --purple-5: #6f42c1;
    --purple-6: #59359a;
    --purple-7: #432874;
    --purple-8: #2c1a4d;
    --purple-9: #160d27;
    --pink-1: #f7d6e6;
    --pink-2: #efadce;
    --pink-3: #e685b5;
    --pink-4: #de5c9d;
    --pink-5: #d63384;
    --pink-6: #ab296a;
    --pink-7: #801f4f;
    --pink-8: #561435;
    --pink-9: #2b0a1a;
    --red-1: #f8d7da;
    --red-2: #f1aeb5;
    --red-3: #ea868f;
    --red-4: #e35d6a;
    --red-5: #dc3545;
    --red-6: #b02a37;
    --red-7: #842029;
    --red-8: #58151c;
    --red-9: #2c0b0e;
    --orange-1: #ffe5d0;
    --orange-2: #fecba1;
    --orange-3: #feb272;
    --orange-4: #fd9843;
    --orange-5: #fd7e14;
    --orange-6: #ca6510;
    --orange-7: #984c0c;
    --orange-8: #653208;
    --orange-9: #331904;
    --yellow-1: #fff3cd;
    --yellow-2: #ffe69c;
    --yellow-3: #ffda6a;
    --yellow-4: #ffcd39;
    --yellow-5: #ffc107;
    --yellow-6: #cc9a06;
    --yellow-7: #997404;
    --yellow-8: #664d03;
    --yellow-9: #332701;
    --green-1: #d1e7dd;
    --green-2: #a3cfbb;
    --green-3: #75b798;
    --green-4: #479f76;
    --green-5: #198754;
    --green-6: #146c43;
    --green-7: #0f5132;
    --green-8: #0a3622;
    --green-9: #051b11;
    --teal-1: #d2f4ea;
    --teal-2: #a6e9d5;
    --teal-3: #79dfc1;
    --teal-4: #4dd4ac;
    --teal-5: #20c997;
    --teal-6: #1aa179;
    --teal-7: #13795b;
    --teal-8: #0d503c;
    --teal-9: #06281e;
    --cyan-1: #cff4fc;
    --cyan-2: #9eeaf9;
    --cyan-3: #6edff6;
    --cyan-4: #3dd5f3;
    --cyan-5: #0dcaf0;
    --cyan-6: #0aa2c0;
    --cyan-7: #087990;
    --cyan-8: #055160;
    --cyan-9: #032830;
    --gray-1: #f8f9fa;
    --gray-2: #e9ecef;
    --gray-3: #dee2e6;
    --gray-4: #ced4da;
    --gray-5: #adb5bd;
    --gray-6: #6c757d;
    --gray-7: #495057;
    --gray-8: #343a40;
    --gray-9: #212529;
    --black: #000000;
    --white: #ffffff;
    --absolute-1: #dddddd;
    --absolute-2: #cccccc;
    --absolute-3: #aaaaaa;
    --absolute-4: #888888;
    --absolute-5: #666666;
    --absolute-6: #555555;
    --absolute-7: #444444;
    --absolute-8: #343434;
    --absolute-9: #222222;
    --absolute-10: #111111;
    --filter-absolute-1: invert(100%) sepia(0%) saturate(7435%) hue-rotate(78deg) brightness(101%) contrast(113%);
    --filter-absolute-10: invert(0%) sepia(85%) saturate(7500%) hue-rotate(272deg) brightness(112%) contrast(101%);
}

:root,
:root.dark {
    --text-1: #ffffff;
    --text-2: #eeeeee;
    --text-3: #dddddd;
    --text-4: #cccccc;
    --text-5: #bbbbbb;
    --text-6: #aaaaaa;
    --text-7: #999999;
    --text-8: #888888;
    --text-9: #777777;
    --text-10: #666666;
    --background-1: #5f5f5f;
    --background-2: #555555;
    --background-3: #4d4d4d;
    --background-4: #454545;
    --background-5: #3f3f3f;
    --background-6: #383838;
    --background-7: #2f2f2f;
    --background-8: #222222;
    --background-9: #191919;
    --background-10: #111111;
    --background-10-opacity-75: rgb(17, 17, 17, 0.75);
    --background-10-opacity-50: rgb(17, 17, 17, 0.5);
    --background-10-opacity-25: rgb(17, 17, 17, 0.25);
    --background-10-opacity-0: rgb(17, 17, 17, 0);
    --filter-1: invert(100%) sepia(0%) saturate(7435%) hue-rotate(78deg) brightness(101%) contrast(113%);
    --filter-10: invert(0%) sepia(85%) saturate(7500%) hue-rotate(272deg) brightness(112%) contrast(101%);
}

:root.light {
    --text-1: #111111;
    --text-2: #191919;
    --text-3: #222222;
    --text-4: #2f2f2f;
    --text-5: #383838;
    --text-6: #3f3f3f;
    --text-7: #454545;
    --text-8: #4d4d4d;
    --text-9: #555555;
    --text-10: #5f5f5f;
    --background-1: #666666;
    --background-2: #777777;
    --background-3: #888888;
    --background-4: #999999;
    --background-5: #aaaaaa;
    --background-6: #b4b4b4;
    --background-7: #bbbbbb;
    --background-8: #c2c2c2;
    --background-9: #cccccc;
    --background-10: #dddddd;
    --background-10-opacity-75: rgb(221, 221, 221, 0.75);
    --background-10-opacity-50: rgb(221, 221, 221, 0.5);
    --background-10-opacity-25: rgb(221, 221, 221, 0.25);
    --background-10-opacity-0: rgb(221, 221, 221, 0);
    --filter-1: invert(0%) sepia(85%) saturate(7500%) hue-rotate(272deg) brightness(112%) contrast(101%);
    --filter-10: invert(100%) sepia(0%) saturate(7435%) hue-rotate(78deg) brightness(101%) contrast(113%);
}

/* ---------- Scrollbar ---------- */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--text-10);
    -webkit-background-clip: content-box;
    background-clip: content-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    background-color: var(--text-10);
    -webkit-background-clip: content-box;
    background-clip: content-box;
    border: 2px solid var(--text-10);
}

::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
    background-color: var(--background-4);
    -webkit-background-clip: content-box;
    background-clip: content-box;
    border: 2px solid var(--background-4);
}

::-webkit-scrollbar-track {
    background-color: var(--background-10);
    border-radius: 20px;
}

/* ---------- Text Tooltip ---------- */

[ttt]:hover {
    position: relative;
}

[ttt]::after {
    content: attr(ttt);
    padding: 10px 20px;
    position: absolute;
    font-size: inherit;
    opacity: 0;
    left: -99999px;
    vertical-align: middle;
    word-wrap: break-word;
    text-wrap: nowrap;
    pointer-events: none;
    z-index: 9999;
    color: rgb(255, 255, 255, 0.75);
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.75);
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

[ttt]:hover::after {
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: calc(100% + 10px);
    opacity: 1;
}

/* ---------- Element ---------- */

body {
    color: var(--text-1);
    background-color: var(--background-10);
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    font-family: "Lato","Noto Sans JP","Noto Sans KR","Noto Sans SC","Noto Sans TC","Open Sans","Lucida Grande","Tahoma",sans-serif;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5000;
}

main {
    margin-top: 90px;
    min-height: calc(100vh - 90px);
}

footer {
    min-height: 550px;
    display: flex;
    align-items: center;
    background-color: var(--background-8);
    filter: drop-shadow(0px 0px 2.5px var(--absolute-10));
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a:link,
a:hover,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
}

input,
textarea {
    font: inherit;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

img {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

summary {
    cursor: pointer;
    list-style-type: none;
    border-radius: 20px;
    padding: 2.5px 0px;
    color: var(--text-1);
    background-color: var(--background-10-opacity-25);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

summary:hover {
    background-color: var(--background-10-opacity-50);
}

details {
    width: calc(100% - 20px);
    margin: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* ---------- Class ---------- */

/* special */

.overflow-hidden {
    overflow: hidden;
}

.logo {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    font-family: "Megrim","Lato","Noto Sans JP","Noto Sans KR","Noto Sans SC","Noto Sans TC","Open Sans","Lucida Grande","Tahoma",sans-serif;
}

.japanese {
    font-family: 'M PLUS 1 Code',"monospace","Lato","Noto Sans JP","Open Sans",sans-serif;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    display: inline-block;
}

.korean {
    font-family: 'Nanum Gothic', 'Lato', "Noto Sans KR", "Open Sans", "Lucida Grande", Tahoma, sans-serif;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    display: inline-block;
}

.english {
    font-family: 'Ubuntu',"Lato","Noto Sans","Open Sans",sans-serif;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    display: inline-block;
}

.header-up {
    top: -90px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-down {
    top: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.theme-light,
.theme-dark {
    cursor: pointer;
}

.header-button.theme-light {
    display: none;
}

.light .header-button.theme-dark {
    display: none;
}

.light .header-button.theme-light {
    display: block;
}

.untitled {
    color: var(--text-6)!important;
    font-style: italic!important;
    font-weight: bold!important;
    text-transform: uppercase!important;
}

.franchise {
    width: 100%;
    min-height: 86px;
    border-radius: 20px;
    margin: 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.franchise > .details > .franchise-contents > div:first-child {
    margin-top: 10px;
}

.franchise-title {
    display: flex;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin: 20px 10px 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.franchise-title img {
    height: 30px;
    max-height: 86px;
    max-width: 200px;
    width: auto;
}

.franchise-subtitle {
    color: var(--text-1);
    background-color: var(--background-10-opacity-75);
    padding: 2.5px 0px;
    border-radius: 20px;
    margin: 10px 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.franchise-contents {
    display: none;
}

.franchise-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--background-10-opacity-50);
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.franchise-content.ver1 {
    display: flex;
    justify-content: center;
}

.franchise-content.ver1 > div {
    flex: 0 0 calc(50% - 20px);
}

.franchise-content.ver2 {
    grid-template-columns: repeat(2,1fr);
}

.franchise-content.ver4 {
    grid-template-columns: repeat(4,1fr);
}

.franchise-content .external-link-img .external-link-button,
.franchise-content .external-link-bundles .external-link-button {
    width: calc(100% - 20px);
    /* height: calc(100% - 20px); */
}

.franchise-content .external-link-text .external-link-button {
    width: calc(100% - 60px);
}

/* elevator */

.elevator {
    position: fixed;
    z-index: 100;
    width: calc(100% - 20px);
    left: 0%;
    top: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: flex-end;
    gap: 10px;
    transform: translate(0%, -50%);
    pointer-events: none;
    justify-content: space-between;
}

.elevator div {
    width: 75px;
    cursor: pointer;
    background-color: var(--background-10-opacity-50);
    border-radius: 10px;
    color: transparent;
    line-height: 30px;
    box-shadow: 0px 0px 2.5px var(--absolute-10);
    pointer-events: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.elevator div:hover {
    background-color: var(--background-6);
}

.elevator-up {
    background: url(//media.hungbok.net/image/icon/up.svg) no-repeat center / 20px 20px;
}

.elevator-down {
    background: url(//media.hungbok.net/image/icon/down.svg) no-repeat center / 20px 20px;
}

/* chapter */

.chapter {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 50%;
    display: flex;
    height: 500px;
    margin-right: 10px;
    transform: translate(0%, -50%);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: none;
}

.chapter-link {
    cursor: pointer;
    color: var(--text-6);
    background-color: var(--background-10-opacity-50);
    border-radius: 10px;
    pointer-events: auto;
    padding: 5px 10px;
    box-shadow: 0px 0px 2.5px var(--absolute-10);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.chapter-title {
    display: inline-block;
    margin: 0;
    color: var(--text-6);
    vertical-align: middle;
    line-height: 24px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.chapter-link:hover {
    color: var(--text-2);
}

.chapter-link:hover .chapter-title {
    color: var(--text-2);
    padding: 0px 10px 0px 0px;
}

.chapter-link:after {
    content: "•";
    margin: 5px;
    vertical-align: middle;
}

.chapter-link.active {
    color: var(--text-2);
}

.chapter-link.active .chapter-title {
    color: var(--text-2);
    transform: scale(1.125);
    padding: 0px 5px;
}

/* Popup */

.popup {
    cursor: pointer;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.popup:hover {
    background-color: var(--background-8);
}

.popup-content {
    cursor: default;
    background-color: var(--background-8);
    display: none;
    min-height: 200px;
    min-width: 300px;
    max-height: calc(100vh - 300px);
    padding: 40px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8000;
    filter: drop-shadow(0px 0px 10px var(--shadow));
}

.popup-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 7000;
}

.popup-title {
    margin: 0px 0px 20px;
    font-size: 20px;
    color: var(--text-1);
}

.popup-close {
    position: absolute;
    right: 4px;
    bottom: -50px;
    width: 30px;
    height: 30px;
    background: url(//media.hungbok.net/image/icon/close.svg) center no-repeat;
    background-size: 40px;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.popup-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1;
}

/* report */

.report-text {
    text-align: left;
    margin-bottom: 10px;
}

.report-item {
    padding: 15px 30px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 20px;
    text-align: left;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.report-item:hover {
    background-color: var(--background-6);
}

.report-item.selected {
    background-color: var(--background-9);
}

.report-item p {
    margin: 0;
    font-weight: bold;
}

.text-report-help {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.text-report-help:hover {
    color: var(--text-4);
    background-color: var(--background-10-opacity-75);
}

.report-button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--background-9);
    margin-top: 20px;
    border: 0;
    width: 100%;
    text-align: center;
    color: var(--text-4);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.report-button > p.text-report-title {
    pointer-events: none;
}

.report-button:hover {
    color: var(--text-2);
    background-color: var(--background-10);
}

.form-elements {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 500px);
}

fieldset.pure-group {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset.pure-group.type,
fieldset.pure-group.name {
    display: none;
}

fieldset.pure-group.honeypot-field {
    display: none;
    color: transparent;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    z-index: -100;
}

/* share */

.share-text {
    margin-bottom: 20px;
}

.share-content > .external-links .external-link-button {
    border-radius: 50%;
    cursor: pointer;
}

.share-link {
    display: grid;
    grid-template-columns: auto 50px;
    border: 1px solid var(--background-5);
    background-color: var(--background-10);
    padding: 10px;
    margin: 20px 0px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    justify-items: center
}

.share-url {
    width: calc(100% - 20px);
    padding: 0 0 0 10px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.share-url input {
    color: var(--text-1);
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.share-copy {
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.share-copy:hover {
    background-color: var(--background-8);
}

.share-copy img {
    max-width: 20px;
    max-height: 20px;
    pointer-events: none;
    filter: brightness(0.75);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.share-copy:hover img {
    filter: brightness(1);
}

/* Top Button */

#top-button {
    position: fixed;
    right: 40px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: none;
    color: transparent;
    background: url(//media.hungbok.net/image/icon/up.svg) no-repeat center / 20px 20px black;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    z-index: 5000;
    cursor: pointer;
    border: 0;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* Message Box */

#message-container {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 99999;
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

.completion-message {
    background-color: var(--success);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.error-message {
    background-color: var(--error);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

/* header */

.header {
    text-align: left;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: var(--background-10-opacity-75);
    backdrop-filter: blur(50px);
}

.site-header {
    width: 90%;
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.side-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.side-panel-icon {
    cursor: pointer;
    margin: 20px;
}

.side-panel-icon .header-button-icon {
    pointer-events: none;
}

.side-panel-contents {
    z-index: -1000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-panel-content {
    background: var(--background-8);
    backdrop-filter: blur(50px);
    height: 100vh;
    top: 0;
    position: absolute;
    width: 300px;
    left: -300px;
    z-index: 3;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-panel-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -200;
    background-color: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-panel-contents.open {
    z-index: 6000;
}

.side-panel-contents.open .side-panel-content {
    left: 0px;
}

.side-panel-contents.open .side-panel-overlay {
    opacity: 1;
    pointer-events: unset;
    z-index: 2;
}

.side-panel-top {
    display: flex;
}

.side-panel-middle {
    max-height: 828px;
    height: calc(100% - 90px);
    overflow-x: hidden;
}

.side-panel-line {
    height: 1px;
    width: calc(100% - 80px);
    margin: 10px auto;
    background-color: var(--text-8);
}

.side-panel-menu {
    width: auto;
    text-transform: uppercase;
    vertical-align: middle;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
    margin: 5px 30px;
    cursor: pointer;
    gap: 20px;
    border-radius: 20px;
    filter: brightness(0.75);
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-panel-menu:hover {
    background-color: var(--background-10-opacity-75);
    filter: brightness(1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-panel-menu-icon {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    text-wrap: nowrap;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-panel-menu-text {
    text-decoration: none;
    color: var(--text-1);
    font-weight: 700;
    font-size: 1em;
    border-radius: 20px;
    white-space: nowrap;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-menu {
    min-width: 200px;
    position: relative;
    display: inline-block;
}

.logo-container {
    margin: 0px 10px;
}

.menu-logo {
    margin: 15px 0px;
    padding: 10px 20px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.menu-logo .header-logo {
    height: 25px;
}

.menu-logo .header-title {
    font-size: 35px;
    display: inline-block;
}

.menu-logo:hover {
    background-color: var(--background-10-opacity-50);
}

.search-container {
    width: 100%;
    max-width: 400px;
}

.search {
    display: flex;
    border: 1px solid var(--text-1);
    border-radius: 50px;
    padding: 0 10px 0 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.search input {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text-1);
    width: 100%;
}

.search:hover {
    background-color: var(--background-10-opacity-50);
}

.search-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    border: none;
    position: relative;
    display: block;
    cursor: pointer;
}

.search-icon img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.search-results {
    position: absolute;
    width: calc(100% - 20px);
    background: var(--background-7);
    padding: 10px;
    margin-top: 35px;
    border-radius: 10px;
    display: none;
    filter: drop-shadow(0px 0px 2.5px var(--absolute-10));
}

.search-results a {
    display: grid;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: 75px auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    align-items: center;
}

.search-results a:hover {
    background: var(--background-5);
}

.search-results-image {
    max-width: 100%;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.search-results-title {
    margin: 0;
    font-size: 18px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.search-results-type {
    margin: 0;
    font-size: 12px;
    color: var(--text-5);
}

.menu-icon {
    margin: 15px 20px;
    padding: 10px;
    display: inline-block;
}

.menu-icon .header-logo {
    cursor: pointer;
    height: 30px;
}

.header-button-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px 10px;
}

.header-button {
    width: 30px;
    height: 30px;
    padding: 10px;
    position: relative;
    display: block;
    border-radius: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-button-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header-button:hover {
    background-color: var(--background-10-opacity-50);
}

.language-selecter {
    cursor: pointer;
}

.language-selecter .header-button-icon {
    pointer-events: none;
}

.language-lists {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    top: 80px;
    right: 0px;
    background-color: var(--background-8);
    filter: drop-shadow(0px 0px 2.5px var(--absolute-10));
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.language-list {
    display: block;
    background-color: var(--background-8);
    padding: 10px;
    max-height: 400px;
    overflow-x: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.language-select {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px 20px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.language-select:hover {
    background-color: var(--background-4);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.language-flag {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    text-wrap: nowrap;
    width: 30px;
    height: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.language-text {
    text-wrap: nowrap;
    color: var(--text-4);
    height: 19px;
    padding-right: 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.language-text::after {
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.language-select::before {
    position: absolute;
     width: 20px;
    height: 20px;
    background: url(//media.hungbok.net/image/icon/done.svg) no-repeat;
    right: 20px;
    background-size: cover;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-footer-menu {
    display: flex;
    text-align: left;
    margin: 5px 30px;
    color: var(--text-8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-footer-menu-button {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}


.header-footer-menu:hover .header-footer-menu-button {
    color: var(--text-4);
    background-color: var(--background-10-opacity-75);
}

/* content */

.content,
.top-content,
.middle-content,
.bottom-content {
    margin: 0 auto;
}

.external-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.external-link {
    display: flex;
    margin: 10px;
    color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-img,
.external-link-text {
    display: inline-block;
    margin: 10px;
    color: #ffffff;
    z-index: 2;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-explanation {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 5px;
    width: calc(100% - 20px);
    transform: translate(-50%, 0%);
    color: #ffffff;
    font-size: 12px;
    z-index: -1;
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-bundles {
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    padding: 0px;
    color: #ffffff;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-bundles:hover {
    height: 110px;
    padding: 10px;
}

.external-link-bundles > div:first-child {
    width: 100%;
    margin: 0;
    z-index: 10;
}

.external-link-bundles > div:first-child > a {
    background-color: var(--background-10-opacity-50);
}

.external-link-bundle {
    display: flex;
    margin-top: 0px;
    gap: 10px;
    justify-content: center;
    transform: translate(0%, -100%);
    opacity: 0;
    z-index: 1;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-bundle > div {
    width: 100%;
    margin: 0px;
}

.external-link-bundles:hover .external-link-bundle {
    margin-top: 10px;
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 12;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-button {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-button img {
    height: 30px;
    max-width: 165px;
}

.external-link-explanation .external-link-button img {
    height: 10px;
    max-width: 140px;
}

.external-link-button div {
    width: 1px;
    height: 30px;
    background-color: #ffffff;
    margin: 0px 10px;
}

.external-link-button p {
    margin: 0;
    line-height: 24px;
}

.external-link-explanation .external-link-button p {
    margin: 0;
    line-height: 17px;
}

.external-link-img .external-link-button,
.external-link-bundles .external-link-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    min-width: 30px;
    width: auto;
    height: 30px;
    background-position: 1000px 1000px, center, center, center, center;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-explanation .external-link-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px;
    border-radius: 10px;
    min-width: 10px;
    width: auto;
    height: 10px;
    gap: 10px;
    background-position: 1000px 1000px, center, center, center, center;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link-text .external-link-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    min-width: 30px;
    width: auto;
    height: 30px;
    background-position: 10px center, center, center, center, center;
    padding-left: 50px;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link:hover,
.external-link-img:hover,
.external-link-text:hover {
    z-index: 10;
}

.external-link:hover .external-link-button,
.external-link-img:hover .external-link-button,
.external-link-text:hover .external-link-button {
    transform: scale(1.025);
    box-shadow: 0px 0px 5px #000000;
    z-index: 11;
}

.external-link:hover .external-link-explanation,
.external-link-img:hover .external-link-explanation,
.external-link-text:hover .external-link-explanation {
    top: calc(100% - 10px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.external-link.unavailable,
.external-link-img.unavailable,
.external-link-text.unavailable {
    cursor: not-allowed;
}

.external-link.unavailable .external-link-button,
.external-link-img.unavailable .external-link-button,
.external-link-text.unavailable .external-link-button {
    pointer-events: none;
    opacity: 0.25;
    transform: scale(1);
    box-shadow: 0px 0px 0px transparent;
}

/* footer */

.footer {
    color: var(--text-2);
    margin: 100px 0px;
}

.footer-menu-logo {
    display: inline-block;
    cursor: pointer;
}

.footer-logo {
    height: 40px;
}

.footer-title {
    font-size: 55px;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.footer-site,
.footer-info {
    margin: 10px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

.footer-social {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-menu {
    display: inline-flex;
    margin: 10px;
    color: var(--text-8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.footer-site .footer-menu,
.footer-info .footer-menu {
    margin: 5px;
}

.footer-menu-button {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.footer-site .footer-menu-button,
.footer-info .footer-menu-button {
    padding: 5px 10px;
    border-radius: 10px;
}

.footer-social .footer-menu-button {
    padding: 10px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.footer-menu:hover .footer-menu-button {
    color: var(--text-4);
}

.footer-social .footer-menu:hover .footer-menu-button {
    transform: scale(1.025);
    filter: drop-shadow(0px 0px 2.5px #000000);
}

.footer-site .footer-menu:hover .footer-menu-button,
.footer-info .footer-menu:hover .footer-menu-button {
    background-color: var(--background-6);
}

.footer-bottom {
    margin: 30px 0px;
}

.copyright {
    color: var(--text-10);
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* ---------- Error 404 ---------- */

.errorpage {
    margin-top: -90px;
}

.error-404-container {
    position: relative;
    display: contents;
    overflow: hidden;
}

.error-404-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.error-404-content p {
    margin: 0;
}

.error-404-title {
    font-size: 50px;
    line-height: 73px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    text-wrap: nowrap;
}

.error-404-subtitle {
    font-size: 20px;
    position: relative;
    text-wrap: nowrap;
    margin: 10px 0px;
}

.error-404-content a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0px 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.error-404-content .error-404-back,
.error-404-content .error-404-home {
    background-color: var(--text-4);
    color: var(--background-10);
}

.error-404-content .error-404-back:hover,
.error-404-content .error-404-home:hover {
    background-color: var(--text-8);
}

.error-404-content .error-404-help:hover {
    background-color: var(--background-10-opacity-75);
}

.error-404-subtitle.previous,
.error-404-subtitle.middle,
.error-404-subtitle.next {
    display: inline-block;
}
  
.error-404-lang-selecter {
    display: none;
    text-align: left;
    height: 24px;
    font-size: 16px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
  
.error-404-lang-selecter:hover {
    height: 264px;
}
  
.error-404-lang-selecter > div {
    line-height: 24px;
}
  
.lang-option {
    line-height: 24px;
    text-wrap: nowrap;
    cursor: pointer;
    text-transform: capitalize;
}
  
.error-404-background {
    white-space: nowrap;
    position: absolute;
    font-size: 500px;
    font-weight: bold;
    pointer-events: none;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* ---------- Media ---------- */

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
    .header-menu {
        min-width: 100px;
    }
    .header-menu.logo-container {
        text-align: right;
    }
    .search-container {
        display: none;
    }
}

/* ---------- animation ---------- */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes airing {
    from {
        filter: drop-shadow(0px 0px 0px #ff0000);
    }
    to {
        filter: drop-shadow(0px 0px 20px rgb(255, 0, 0, 0));
    }
}

/* ---------- beta ---------- */

.side-header > .side-panel-icon,
.header-button-container > a:first-child,
.search-container > div,
.header-button.theme-light,
.header-button.theme-dark,
.footer-menu-button {
    opacity: 0.5;
    pointer-events: none;
}

.side-header,
.search-container,
.footer-menu {
    cursor: not-allowed;
}