/* top background image */

.top-backgrounds {
    width: 100vw;
    height: 400px;
    overflow: hidden;
    position: absolute;
    transform: translate(0px, -90px);
    pointer-events: none;
}

.top-background {
    width: 100vw;
    height: 490px;
    position: absolute;
    top: 0;
    z-index: -10;
    filter: blur(10px) brightness(0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* top */

.top-content {
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
}

.top-content-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    z-index: 10;
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: calc(100% - 120px);
    margin: 0 20px;
}

.top-content-tag {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--text-6);
    font-weight: bold;
    text-transform: uppercase;
}

.top-content-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

/* middle */

.middle-content {
    display: grid;
    grid-template-columns: auto 300px;
    column-gap: 20px;
    row-gap: 40px;
    padding: 40px;
    position: relative;
    align-items: start;
}

/* top path & title */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    background-color: var(--background-8);
    padding: 20px 0;
    border-radius: 20px;
    text-align: left;
    position: relative;
}

.content-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.content-path {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 20px
}

.content-date {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.content-path a,
.content-date a {
    color: var(--text-6);
    position: relative;
    line-height: 24px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.content-path a:hover {
    color: var(--text-2);
}

.content-path a:last-child {
    color: var(--text-3);
}

.content-path a:after {
    content: ">";
    pointer-events: none;
    color: var(--text-8);
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translate(-50%, -50%);
}

.content-path a:last-child::after {
    content: "";
}

.content-title {
    font-size: 35px;
    line-height: 52px;
}

.descriptions {
    position: relative;
    padding: 0 20px;
    width: calc(100% - 40px);
}

.descriptions:before {
    content: "";
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--background-6);
    position: absolute;
    left: 20px;
    top: -20px;
}

.descriptions::after {
    content: "";
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--background-6);
    position: absolute;
    left: 20px;
    bottom: -20px;
}

.description {
    font-size: 18px;
    color: var(--text-4);
    display: flex;
    flex-direction: column;
}

.description div {
    height: 100%;
    min-height: 22px;
}

.description p {
    display: contents;
    margin: 0;
}

.description .h1 {
    font-size: 24px;
    color: var(--text-1);
}

.description .bold {
    font-weight: bold;
    color: var(--text-3);
}

.description .underbar {
    text-decoration-line: underline;
}

.description .italic {
    font-style: italic;
    color: var(--text-5);
}

.description .strike {
    text-decoration-line: line-through;
    color: var(--text-8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.description .strike:hover {
    text-decoration-line: none;
    color: var(--text-7);
}

.description .spoiler {
    background-color: var(--black);
    color: var(--black);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.description .spoiler:hover {
    background-color: var(--black);
    color: var(--text-2);
}

.description a {
    color: var(--text-3);
    text-decoration-line: underline;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.description a:hover {
    text-decoration-line: none;
    color: var(--text-2);
}

.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    max-height: 500px;
}

/* report & share */

.additional-links {
    display: flex;
    gap: 10px;
    margin: 0 20px;
    justify-content: center;
    width: calc(100% - 40px);
}

.additional-link {
    margin: 0px;
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: var(--background-8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
}

.additional-link:hover {
    background-color: var(--background-6);
}

.additional-link > img {
    max-height: 25px;
    max-width: 25px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.side-content {
    background-color: var(--background-8);
    border-radius: 20px;
    text-align: left;
}

.side-content .side-item {
    display: grid;
    column-gap: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    align-items: center;
}

.side-content .side-media {
    position: relative;
}

.side-media:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid transparent;
    border-radius: 20px;
    pointer-events: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-item:hover .side-media:before {
    content: "";
    border: 5px solid white;
}

.side-content .side-image {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.side-content .side-image img {
    max-width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.side-content .side-item:hover img {
    transform: scale(1.125);
}

.side-content .side-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0 0;
    gap: 5px;
}

.side-content .side-type {
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    background-color: var(--text-6);
    color: var(--background-10);
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
}

.side-content .side-title {
    margin: 0;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.side-content .side-date {
    color: var(--text-4);
}

.no-data {
    margin: 100px 0;
    font-size: 50px;
    color: var(--text-10);
    font-weight: 600;
}

#pagination {
    margin: 50px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

#searchResults {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0 0;
}

#searchResults .item {
    display: grid;
    column-gap: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    grid-template-columns: 300px auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    align-items: center;
}

#searchResults .item:hover {
    background: var(--background-8);
}

#searchResults .item .image {
    display: flex;
}

#searchResults .item .image img {
    max-width: 100%;
    border-radius: 10px;
}

#searchResults .item .info {
    margin: 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#searchResults .item .info .type {
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    background-color: var(--text-6);
    color: var(--background-10);
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
}

#searchResults .item .info .title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 36px;
}

#searchResults .item .info .subtitle {
    margin: 0;
    font-size: 18px;
    color: var(--text-6);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 27px;
}

#searchResults .item .info .date {
    color: var(--text-4);
}

/* page */

button {
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    color: var(--text-4);
    background-color: var(--background-6);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--background-8);
}

button img {
    height: 12px;
}

button.active {
    background-color: var(--hungbok);
    color: var(--background-10);
}

button:disabled {
    cursor: not-allowed;
    background-color: var(--background-8);
    color: var(--background-4);
    filter: brightness(0.75);
}

#pagination > span {
    padding: 10px;
    pointer-events: none;
}

.list-loading {
    animation: breath 2s linear infinite;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0 0;
}

.list-loading .item {
    display: grid;
    column-gap: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    grid-template-columns: 300px auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    align-items: center;
}

.list-loading .image {
    background-color: var(--background-7);
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 168.75px;
}

.list-loading .item:hover .image {
    transform: translate(0px, 0px);
}

.list-loading .info {
    margin: 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.list-loading .type {
    height: 24px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--background-7);
}

.list-loading .title {
    height: 36px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--background-7);
}

.list-loading .subtitle {
    height: 54px;
    width: 100%;
    background-color: var(--background-7);
    border-radius: 10px;
}

.list-loading .date {
    height: 24px;
    width: 75px;
    background-color: var(--background-7);
    border-radius: 10px;
}