#dataContainer {
    margin: 0 0 100px;
    width: auto;
    max-width: 1200px;
    min-height: 430px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

#serverTime,
#localTime {
    display: none;
}

#loading {
    width: 100%;
    height: 50px;
    margin: 40px 0;
    background: url(//media.hungbok.net/image/icon/progress.svg) no-repeat center;
    background-size: 50px;
    animation: loading 2s linear infinite;
    pointer-events: none;
}

.item {
    width: 30%;
    max-width: 350px;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item:hover {
    transform: translate(0px, -5px);
}

.item::before {
    content: "";
    position: absolute;
    z-index: 10;
    padding: 0px 50px;
    border-radius: 50px;
    font-size: 175px;
    font-weight: bold;
    left: 52.5%;
    top: 25%;
    text-wrap: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: rotate(340deg) translate(-50%, -50%);
    background-color: black;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item-link {
    display: block;
}

.item-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.item-image img {
    height: auto;
    width: 100%;
    filter: blur(10px) brightness(0.75) grayscale(0.5);
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.item-image img:first-child {
    position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
    filter: unset;
}

.item-image:before {
    content: "";
    width: 30px;
    height: 20px;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: none;
}

.item.jp .item-image:before {
    background: url(//media.hungbok.net/image/flag/jp.svg) no-repeat center;
}

.item.us .item-image:before {
    background: url(//media.hungbok.net/image/flag/us.svg) no-repeat center;
}

.item-image::after {
    content: "";
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.item h1 {
    margin: 20px 20px 0;
    text-align: left;
    line-height: 26px;
}

.item h1:before {
    content: "";
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.item h3 {
    display: none;
}

.item h2 {
    position: absolute;
    bottom: calc(100% - 200px);
    z-index: 1;
    margin: 0;
    padding: 20px;
    font-size: 12px;
    text-align: left;
}

.date-container {
    display: inline-block;
}

.sale-date p {
    margin: 0px 5px;
    display: inline-block;
}

.timer-container {
    font-size: 24px;
    margin: 20px;
    max-width: 120px;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.timer-container.start::before,
.timer-container.end::before {
    display: block;
    color: var(--white);
}

.item.unknown .timer-container.end {
    font-size: 0;
    color: transparent;
}

.item.unknown .timer-container.end::after {
    font-size: 24px;
    line-height: 29px;
    color: var(--text-1);
}

.item-background {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: blur(50px) brightness(0.5);
    z-index: -1;
    pointer-events: none;
}

.timer-container.end.one-minute-left {
    color: #b02a37;
}

.timer-container.end.one-hour-left {
    color: #e35d6a;
}

.timer-container.end.three-hours-left {
    color: #ca6510;
}

.timer-container.end.six-hours-left {
    color: #fd9843;
}

.timer-container.end.twelve-hours-left {
    color: #cc9a06;
}

.timer-container.end.one-day-left {
    color: #ffcd39;
}

.expired.item {
    filter: grayscale(0.75) brightness(0.25);
    opacity: 0.5;
    text-decoration: line-through;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.expired.item:hover {
    filter: grayscale(0.25) brightness(0.5);
    opacity: 1;
}

.expired.item::before {
    font-size: 75px;
    left: 52.5%;
    top: 35%;
    opacity: 1;
    transform: rotate(340deg) translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.expired.item:hover::before {
    opacity: 0.25;
}

.sale-timer.start.expired::after {
    z-index: 10;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-wrap: nowrap;
    pointer-events: none;
    background-color: var(--green-5);
    position: absolute;
    opacity: 1;
    transform: rotate(360deg) translate(-90%, -55%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.sale-timer.end.expired::after {
    z-index: 10;
    padding: 20px 120px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-wrap: nowrap;
    pointer-events: none;
    background-color: var(--black);
    color: white;
    position: absolute;
    opacity: 1;
    transform: rotate(360deg) translate(-90%, -55%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.from-steam::before {
    background: url(//media.hungbok.net/image/icon/steam.svg) no-repeat center;
}

.from-epicgamesstore::before {
    background: url(//media.hungbok.net/image/icon/epicgamesstore.svg) no-repeat center;
}

.from-gogcom::before {
    background: url(//media.hungbok.net/image/icon/gogcom.svg) no-repeat center;
}

.from-battlenet::before {
    background: url(//media.hungbok.net/image/icon/battlenet.svg) no-repeat center;
}

.from-eaapp::before {
    background: url(//media.hungbok.net/image/icon/ea.svg) no-repeat center;
}

.from-ubisoftstore::before {
    background: url(//media.hungbok.net/image/icon/ubisoft.svg) no-repeat center;
}

.from-xboxstore::before {
    background: url(//media.hungbok.net/image/icon/xbox.svg) no-repeat center;
}

.from-playstationstore::before {
    background: url(//media.hungbok.net/image/icon/playstation.svg) no-repeat center;
}

.from-nintendoeshop::before {
    background: url(//media.hungbok.net/image/icon/nintendo.svg) no-repeat center;
}

.title-steam::before {
    content: "Steam";
}

.hide-expired .item.expired {
    display: none;
}

.filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#dateFilterBtn,
.filterDataBtn,
.filterPlatformBtn {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    min-width: 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.filter-content img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.filterPlatformBtn.active img {
    filter: brightness(0);
}

#dateFilterBtn:hover,
.filterDataBtn:hover,
.filterPlatformBtn:hover {
    background-color: #222222;
}

#dateFilterBtn.active,
.filterDataBtn.active,
.filterPlatformBtn.active {
    background-color: #ffffff;
    color: #000000;
}

#dataContainer .item a.item-link::before,
#dataContainer .item a.item-link::after {
    content: unset!important;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes breath {
    0%, 100% {
        transform: scale(1);
    }
    6.25%, 93.75% {
        transform: scale(1.05);
    }
    12.5%, 87.5% {
        transform: scale(1);
    }
}

@keyframes shake {
    0%, 100% {
        transform: rotate(2.5deg);
    }
    6.25%, 93.75% {
        transform: rotate(-2.5deg);
    }
    12.5%, 87.5% {
        transform: rotate(0deg);
    }
}

@keyframes bell {
    0%, 100% {
        transform: rotate(2.5deg);
    }
    25%, 75% {
        transform: rotate(-2.5deg);
    }
    50% {
        transform: rotate(2.5deg);
    }
}