
.item {
  width: 770px;
  display: inline-block;
  position: relative;
  margin: 10px 0px;
  font-weight: 600;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--eventtext);
  background-color: var(--section);
  filter: drop-shadow(0px 0px 2.5px var(--shadow));
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.text-content {
  position: relative;
  display: block;
}

.text-content::before {
  content: "❯";
  color: var(--text);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.surl {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}

.surl::before {
  content: "https://hgbk.me/";
  color: var(--text);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.url {
  float: right;
  margin-right: 30px;
}

.url::before {
  content: "https://";
  color: var(--text);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.copied {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 8px 14px;
  line-height: 1.5;
  max-width: 60%;
  border-radius: 4px;
  z-index: 99999;
  border-radius: 10px !important;
  padding: 8px 12px !important;
  font-size: 16px !important;
  line-height: 24px;
  background-color: var(--background);
  opacity: 0.9;
  color: #cecfd1;
  word-break: break-word;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.copied img {
  filter: var(--filter);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}