/* top */

.top-content {
    min-height: 400px;
    display: grid;
    grid-template-columns: auto 420px;
    grid-template-rows: 40px auto 80px;
    column-gap: 40px;
    row-gap: 20px;
    padding: 40px 80px;
    align-items: center;
    justify-items: start;
}

.top-title {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
}

.top-title img {
    min-height: 50px;
    max-height: 100px;
}

.contents-top-thumbnail {
    position: relative;
    width: 420px;
    height: 245px;
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* item */

.contents-top-thumbnail .item {
    width: 400px;
    height: auto;
    margin: 10px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration-line: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.contents-top-thumbnail .item:hover {
    transform: scale(1.025);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.contents-top-thumbnail .item-thumbnail {
    width: 400px;
    height: 225px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 0px 5px var(--shadow));
    z-index: -2;
    border-radius: 10px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    background-image: url(/image/error-vertical.svg);
}

.contents-top-thumbnail .item-thumbnail:hover::before {
    top: -50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.contents-top-thumbnail .item-thumbnail a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.contents-top-thumbnail .item-thumbnail .thumbnail-background {
    z-index: 0;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contents-top-thumbnail .item-thumbnail img {
    position: absolute;
    transform: translate(-50%);
}

/* middle */

.slider-middle-content {
    min-height: 447.5px;
    display: block;
    padding: 0 40px;
}

.middle-content {
    display: grid;
    row-gap: 40px;
    padding: 40px;
}

/* info */

.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--background-8);
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.key-art {
    width: 100%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    min-height: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2 / 3;
}

.key-art img {
    width: auto;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.key-art:hover img {
    transform: scale(1.05);
}

.info-table {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    max-width: 720px;
    height: 100%;
    gap: 10px;
    align-items: stretch;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.info-tr {
    display: grid;
    width: calc(50% - 5px);
    padding: 0;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.info .info-left p {
    top: 50%;
    transform: translate(0%,-50%);
    position: relative;
    margin: 0;
    display: inline-block;
    color: var(--text-8);
    vertical-align: middle;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.info .info-right p {
    display: flex;
    margin: 0;
    vertical-align: middle;
    color: var(--text-5);
    padding: 0px 10px;
    border-radius: 20px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.info-table .info-right > p > img {
    height: 100%;
    max-height: 30px;
    max-width: 75px;
}

.info .info-right div {
    display: inline-block;
    margin: 0px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-wrap: nowrap;
    background-size: 20px 20px, 30px, 30px, 30px, 30px, 30px;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.info-more {
    width: 100%;
}

/* report & share */

.additional-links {
    display: grid;
    gap: 5px;
    position: absolute;
    margin: 0px;
    right: -40px;
    top: 10px;
}

.additional-link {
    margin: 0px;
    padding: 5px;
    border-radius: 50px;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: var(--invisible);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
}

.additional-link:hover {
    background-color: var(--background-8-opacity-75);
}

.additional-link > img {
    max-height: 25px;
    max-width: 25px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

/* bottom */

.descriptions {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* tv */

.tv-tables {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: var(--background-8);
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.tv-table {
    margin: 0;
    width: 100%;
    font-size: 14px;
    border-spacing: 0px;
    border-collapse: separate;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#table-multi-hover {
    margin-top: 20px;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--background-7);
}

.tv-table > thead > tr > th {
    position: relative;
    color: transparent;
    padding: 5px 30px;
    background-color: #dddddd;
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

.tv-table > thead > tr > th:first-child,
.tv-table > tbody > tr > td:first-child {
    width: 7.5%;
}

.tv-table > thead > tr > th:nth-child(2),
.tv-table > tbody > tr > td:nth-child(2) {
    width: 20%;
}

.tv-table > thead > tr > th:nth-child(3),
.tv-table > tbody > tr > td:nth-child(3) {
    width: 30%;
}

.tv-table > thead > tr > th:nth-child(4),
.tv-table > tbody > tr > td:nth-child(4) {
    width: 15%;
}

.tv-table > thead > tr > th:nth-child(5),
.tv-table > tbody > tr > td:nth-child(5) {
    width: 15%;
}

.tv-table > thead > tr > th:last-child,
.tv-table > tbody > tr > td:last-child {
    width: 12.5%;
}

.tv-table > thead > tr > th:first-child {
    border-radius: 20px 0px 0px 20px;
}

.tv-table > thead > tr > th:last-child {
    border-radius: 0px 20px 20px 0px;
}

.tv-table > thead > tr > th::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    color: #222222;
}

.tv-table > tbody > tr > td {
    padding: 10px 0px;
    min-height: 42px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.tv-table > tbody > tr > td > p {
    display: inline-block;
    margin: 0px 7.5px;
    color: #aaaaaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.tv-tables:hover #table-multi-hover p:hover {
    color: var(--text-2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.tv-table > tbody > tr > td[rep="1"] > p:last-child {
    max-width: 75px;
}

.tv-table > tbody > tr > td[rep="2"] > p:last-child {
    max-width: 200px;
}

.tv-table > tbody > tr > td[rep="3"] > p:last-child,
.tv-table > tbody > tr > td[rep="4"] > p:last-child,
.tv-table > tbody > tr > td[rep="5"] > p:last-child,
.tv-table > tbody > tr > td[rep="6"] > p:last-child {
    max-width: 150px;
}

.tv-table > tbody > tr > td[rep="7"] > p:last-child {
    max-width: 125px;
}

.tv-table .tv-tr:last-child > td > p[ttt]:hover::after {
    left: 50%;
    transform: translate(-50%, 0px);
    top: unset;
    bottom: calc(100% + 10px);
    opacity: 1;
}