.top-box {
    text-align: center;
}

#specialCharsCB + label {
    margin: 30px;
}

.bottom-box {
    font-size: 30px;
}

.bottom-box p {
    display: inline-block;
    padding: 62.5px 0px;
    margin: 0;
    width: 370px;
    color: var(--text);
    cursor: default;
    text-align: right;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#stringBox {
    display: inline-block;
    padding: 62.5px 0px;
    margin: 0;
    width: 400px;
    text-align: left;
    cursor: default;
    color: var(--txt);
    background-color: transparent;
  }