<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title id="page-title">음악 | HungBok</title>
        <link rel="icon" href="//media.hungbok.net/image/hb/hb_symbol.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <!-- <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-chche"> -->
        <meta http-equiv="Copyright" content="HungBok">
        <meta name="Robots" content="index, follow">
        <meta id="meta-title" name="title" content="음악 | HungBok">
        <meta name="description" content="흥미진진한 신작 게임, 예정된 애니메이션, 영화 개봉 일정, 그리고 방영중인 드라마까지! 이제 HungBok에서 모든 정보를 확인하세요. 데이터베이스에 담긴 정보를 통해 더욱 쉽게 검색하고, 놓치지 않고 즐길 수 있습니다. 지금 HungBok에서 새로운 세상을 만나보세요!">
        <meta property="og:ttl" content="3600">
        <meta id="og-title" property="og:title" content="음악 | HungBok">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.hungbok.com">
        <meta id="og-image" property="og:image" content="//media.hungbok.net/image/hb/hb_property.png">
        <meta property="og:description" content="흥미진진한 신작 게임, 예정된 애니메이션, 영화 개봉 일정, 그리고 방영중인 드라마까지! 이제 HungBok에서 모든 정보를 확인하세요. 데이터베이스에 담긴 정보를 통해 더욱 쉽게 검색하고, 놓치지 않고 즐길 수 있습니다. 지금 HungBok에서 새로운 세상을 만나보세요!">
        <meta property="og:site_name" content="HungBok">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.hungbok.com">
        <meta id="twitter-title" property="twitter:title" content="음악 | HungBok">
        <meta property="twitter:description" content="흥미진진한 신작 게임, 예정된 애니메이션, 영화 개봉 일정, 그리고 방영중인 드라마까지! 이제 HungBok에서 모든 정보를 확인하세요. 데이터베이스에 담긴 정보를 통해 더욱 쉽게 검색하고, 놓치지 않고 즐길 수 있습니다. 지금 HungBok에서 새로운 세상을 만나보세요!">
        <meta id="twitter-image" property="twitter:image" content="//media.hungbok.net/image/hb/hb_property.png">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/main.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/icon.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/games-icon.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/ko-kr.css">
        <script type="text/javascript" src="//www.hungbok.net/javascript/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="//www.hungbok.net/javascript/main.js"></script>
        <script type="text/javascript" src="//www.hungbok.net/javascript/header.js"></script>
        <script type="text/javascript" src="//www.hungbok.net/javascript/footer.js"></script>
        <script type="text/javascript" src="//www.hungbok.net/javascript/language_selecter.js"></script>
        <!-- additional -->
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/media.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/music.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/lightbox.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/slick.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/youtube-popup.css">
        <link class="style" rel="stylesheet" type="text/css" href="//www.hungbok.net/css/music-popup.css">
        <noscript>
            <meta http-equiv="refresh" content='0; url="/404"'>
        </noscript>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZTRB63SEH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'G-9ZTRB63SEH');
        </script>
    </head>
    <body>
        <header></header>
        <main>
            <div class="top-backgrounds">
                <div class="top-background" style="background-image: url(//media.hungbok.net/image/games/{url}/hb_background.jpg);"></div>
            </div>
            <section class="section">
                <div class="top-content">
                    <div class="content-name">
                        <div class="content-path">
                            <a href="https://www.hungbok.com">메인</a>
                            <a href="https://www.hungbok.com/anime">음악</a>
                            <a>{title}</a>
                        </div>
                    </div>
                    <div class="contents-top-thumbnail">
                        <div class="item">
                            <div class="item-thumbnail">
                                <a class="thumbnail" href='//media.hungbok.net/image/anime/{url}/hb_thumbnail.jpg' data-lightbox="thumbnail" tabindex="-1">
                                    <img class='thumbnail-background' src="//media.hungbok.net/image/anime/{url}/hb_thumbnail.jpg" onerror='this.src=`//media.hungbok.net/image/hb/hb_error_square.svg`;' loading='lazy'>
                                </a>
                                <img class="item-lp" src="//media.hungbok.net/image/icon/recode.png">
                            </div>
                        </div>
                        <div class="additional-links">
                            <div class="share-open">
                                <div class="additional-link popup" target="_blank">
                                    <img src="//media.hungbok.net/image/icon/share.svg" onerror="this.src=`//media.hungbok.net/image/icon/exclamation.svg`;" loading="lazy">
                                    <div class="popup-content">
                                        <div class="share-content"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="report-open">
                                <div class="additional-link popup" target="_blank">
                                    <img src="//media.hungbok.net/image/icon/flag.svg" onerror="this.src=`//media.hungbok.net/image/icon/exclamation.svg`;" loading="lazy">
                                    <div class="popup-content">
                                        <div class="report-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="top-title"><p>{album_type}</p>{title}</h1>
                    <div class="external-links external-store-link">
                        <div class="external-link icon-{store_class1}" ttt="Store">
                            <a class="external-link-button" href="{store_link1}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class2}" ttt="Store">
                            <a class="external-link-button" href="{store_link2}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class3}" ttt="Store">
                            <a class="external-link-button" href="{store_link3}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class4}" ttt="Store">
                            <a class="external-link-button" href="{store_link4}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class5}" ttt="Store">
                            <a class="external-link-button" href="{store_link5}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class6}" ttt="Store">
                            <a class="external-link-button" href="{store_link6}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class7}" ttt="Store">
                            <a class="external-link-button" href="{store_link7}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class8}" ttt="Store">
                            <a class="external-link-button" href="{store_link8}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class9}" ttt="Store">
                            <a class="external-link-button" href="{store_link9}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{store_class10}" ttt="Store">
                            <a class="external-link-button" href="{store_link10}" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div class="middle-content">
                    <div class="info">
                        <div class="info-table">
                            <div class="info-tr">
                                <div class="info-left">
                                    <p>아티스트</p>
                                </div>
                                <div class="info-right">
                                    <p>{artist}</p>
                                </div>
                            </div>
                            <div class="info-tr">
                                <div class="info-left">
                                    <p>프로듀서</p>
                                </div>
                                <div class="info-right">
                                    <p>{producer}</p>
                                </div>
                            </div>
                            <div class="info-tr">
                                <div class="info-left">
                                    <p>레이블</p>
                                </div>
                                <div class="info-right">
                                    <p>{label}</p>
                                </div>
                            </div>
                            <div class="info-tr">
                                <div class="info-left">
                                    <p>곡 수</p>
                                </div>
                                <div class="info-right">
                                    <p>{total_songs}</p>
                                </div>
                            </div>
                            <div class="info-tr">
                                <div class="info-left">
                                    <p>길이</p>
                                </div>
                                <div class="info-right">
                                    <p>{length}</p>
                                </div>
                            </div>
                            <div class="info-tr">
                                <div class="info-left">
                                    <p>발매일</p>
                                </div>
                                <div class="info-right">
                                    <p>{release}</p>
                                </div>
                            </div>
                            <div class="info-tr">
                                <div class="info-left">
                                    <div class="album-link icon-spotify spotify-album" videoid="0d3mf5fBaIBbozCgeEI9AE" ttt="Spotify"></div>
                                    <div class="album-link icon-applemusic apple-album" videoid="1596879549" ttt="Apple Music"></div>
                                    <div class="album-link icon-amazonmusic amazon-album" videoid="B0CJ5TBGSV" ttt="Amazon Music"></div>
                                    <div class="album-link icon-deezer deezer-album" videoid="439652967" ttt="Deezer"></div>
                                    <div class="album-link icon-linemusic line-album" videoid="mb00000000034340c5" ttt="Line Music"></div>
                                    <div class="album-link icon-vibe naver-album" videoid="30792280" ttt="Vibe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descriptions">
                        <div class="description">
                            <div class="description-attention {attention}"></div>
                            <p class="description-plot">{description}</p>
                            <P class="description-source">{source}</P>
                            <P class="description-update">{update}</P>
                        </div>
                        <div class="show-more"></div>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="external-links external-social-link">
                        <div class="external-link icon-{social_class1}" ttt="SNS">
                            <a class="external-link-button" href="{social_link1}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class2}" ttt="SNS">
                            <a class="external-link-button" href="{social_link2}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class3}" ttt="SNS">
                            <a class="external-link-button" href="{social_link3}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class4}" ttt="SNS">
                            <a class="external-link-button" href="{social_link4}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class5}" ttt="SNS">
                            <a class="external-link-button" href="{social_link5}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class6}" ttt="SNS">
                            <a class="external-link-button" href="{social_link6}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class7}" ttt="SNS">
                            <a class="external-link-button" href="{social_link7}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class8}" ttt="SNS">
                            <a class="external-link-button" href="{social_link8}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class9}" ttt="SNS">
                            <a class="external-link-button" href="{social_link9}" target="_blank"></a>
                        </div>
                        <div class="external-link icon-{social_class10}" ttt="SNS">
                            <a class="external-link-button" href="{social_link10}" target="_blank"></a>
                        </div>
                    </div>
                    <div class="more-info-language {}">
                        <p class="section-info-item-title">수록곡</p>
                        <div class="music-tables">
                            <table class="music-table">
                                <thead>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="music-table" id="table-multi-hover">
                                <tbody>
                                    <tr i="0" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">01</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Ketsubetsu No Uta</p></td>
                                        <td rep="3" rowspan="1"><p ttt="">Tani Yuuki</p></td>
                                        <td rep="4" rowspan="1"><p ttt="">Tani Yuuki</p></td>
                                        <td rep="5" rowspan="1"><p ttt="">Tani Yuuki</p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:54</p></td>
                                        <td rep="7" rowspan="1">
                                            <p class="music-link icon-spotify spotify-track" videoid="1atReRcKXXpoSzLlxeMOWt" ttt="Spotify"></p>
                                            <p class="music-link icon-applemusic apple-track" videoid="1596879549?i=1596879555" ttt="Apple Music"></p>
                                            <p class="music-link icon-amazonmusic amazon-track" videoid="B09MFJ5VH4" ttt="Amazon Music"></p>
                                            <p class="music-link icon-deezer deezer-track" videoid="1563510082" ttt="Deezer"></p>
                                            <p class="music-link icon-linemusic line-track" videoid="mt00000000152009e4" ttt="Line Music"></p>
                                            <p class="music-link icon-vibe naver-track" videoid="66160560" ttt="Vibe"></p>
                                        </td>
                                    </tr>
                                    <tr i="1" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">02</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">W / X / Y</p></td>
                                        <td rep="3" rowspan="1"><p ttt="">Tani Yuuki</p></td>
                                        <td rep="4" rowspan="1"><p ttt="">Tani Yuuki</p></td>
                                        <td rep="5" rowspan="1"><p ttt="">Tani Yuuki</p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:38</p></td>
                                        <td rep="7" rowspan="1">
                                            <p class="music-link icon-spotify spotify-track" videoid="3cBghvTcQNDNkW98Y4eGaP" ttt="Spotify"></p>
                                            <p class="music-link icon-applemusic apple-track" videoid="1596879549?i=1596879556" ttt="Apple Music"></p>
                                            <p class="music-link icon-amazonmusic amazon-track" videoid="B09MFGY1YD" ttt="Amazon Music"></p>
                                            <p class="music-link icon-deezer deezer-track" videoid="1563510092" ttt="Deezer"></p>
                                            <p class="music-link icon-linemusic line-track" videoid="mt00000000152009e5" ttt="Line Music"></p>
                                            <p class="music-link icon-vibe naver-track" videoid="66160562" ttt="Vibe"></p>
                                        </td>
                                    </tr>
                                    <tr i="2" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">03</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Okaeri</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">03:46</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="3" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">04</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Myra</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:14</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="4" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">05</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Hiraishin</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:19</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="5" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">06</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Unreachable love song</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">03:40</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="6" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">07</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Night Butterfly</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">03:32</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="7" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">08</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Yusei Magic</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">03:56</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="8" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">09</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Hyakki Yakou</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:38</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="9" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">10</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Aimai Me Mine</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:56</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="10" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">11</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Aikotoba</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:47</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="11" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">12</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Kioku</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">04:40</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="12" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">13</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">We are free</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">03:19</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                    <tr i="13" class="music-tr">
                                        <td rep="1" rowspan="1"><p ttt="">14</p></td>
                                        <td rep="2" rowspan="1"><p ttt="">Life is beautiful</p></td>
                                        <td rep="3" rowspan="1"><p ttt=""></p></td>
                                        <td rep="4" rowspan="1"><p ttt=""></p></td>
                                        <td rep="5" rowspan="1"><p ttt=""></p></td>
                                        <td rep="6" rowspan="1"><p ttt="">03:40</p></td>
                                        <td rep="7" rowspan="1"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="music-player">
                        <div class="mv-player-card">
                            <div class="music-player-video">
                                <div class="video-play-button youtube-link" videoid="aOAiUwz7Zt8">
                                    <img class="slider-background" src="//media.hungbok.net/image/hb/hb_error_horizontal.svg" onerror="this.src=`//media.hungbok.net/image/hb/hb_error_horizontal.svg`;">
                                    <div class="youtube-title">Full Version</div>
                                </div>
                            </div>
                            <div class="mv-player-info">
                                <div class="mv-player-name" ttt="">Ketsubetsu No Uta</div>
                                <div class="mv-player-voice voice1">
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">노래</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">작사</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">작곡</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">편곡</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mv-player-card">
                            <div class="music-player-video">
                                <div class="video-play-button youtube-link" videoid="aOAiUwz7Zt8">
                                    <img class="slider-background" src="//media.hungbok.net/image/hb/hb_error_horizontal.svg" onerror="this.src=`//media.hungbok.net/image/hb/hb_error_horizontal.svg`;">
                                    <div class="youtube-title">Full Version</div>
                                </div>
                                <div class="video-play-button vimeo-link" videoid="aOAiUwz7Zt8">
                                    <img class="slider-background" src="//media.hungbok.net/image/hb/hb_error_horizontal.svg" onerror="this.src=`//media.hungbok.net/image/hb/hb_error_horizontal.svg`;">
                                    <div class="youtube-title">Edit Version</div>
                                </div>
                            </div>
                            <div class="mv-player-info">
                                <div class="mv-player-name" ttt="">W / X / Y</div>
                                <div class="mv-player-voice voice1">
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">노래</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">작사</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">작곡</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                    <div class="mv-player-voicer">
                                        <p class="mv-player-lang">편곡</p>
                                        <p class="mv-player-voicername" ttt="">Tani Yuuki</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lyrics">
                        <div class="lyrics-card">
                            <div class="lyrics-image video-play-button youtube-link" videoid="aOAiUwz7Zt8">
                                <img class="lyrics-background" src="https://musicmeta-phinf.pstatic.net/album/010/079/10079416.jpg" onerror="this.remove ? this.remove() : this.removeNode();" loading="lazy">
                            </div>
                            <div class="lyrics-title"><p ttt="">決別の唄</p></div>
                            <div class="lyrics-description">
                                <p>もう疲れたんだ</p>
                                <p>繰り返しの毎日に</p>
                                <p>利用しよう器用なやつばっかで</p>
                                <p>愛も友情も本物がわかんないや</p>
                                <p>街にはネズミとカラスが</p>
                                <p>群れなしゴミ溜め漁ってた</p>
                                <p>僕はどうしたらいい？</p>
                                <p>終わりにしてしまおうか？</p>
                                <p>なんだか急に虚しくなった</p>
                                <p>言われるままなんていけ好かない</p>
                                <p>合わせる理由はなんて１つもない</p>
                                <p>他人の顔色なんて見たくもない</p>
                                <p>無くしちゃいけないもんだ</p>
                                <p>いらないものは捨てて僕は旅立つよ</p>
                                <p>本当に必要としてくれる</p>
                                <p>人のところへ</p>
                                <p>満たない心も全て</p>
                                <p>受け入れなきゃいけないの？</p>
                                <p>君が君なら、僕は僕</p>
                                <p>誰にも邪魔させない</p>
                                <p>さぁ、決別の声を</p>
                                <p>狭い闇の中</p>
                                <p>僕はここから始まった</p>
                                <p>夜空の星かすむほどに明るい</p>
                                <p>光に書きなぐった想い</p>
                                <p>名残惜しさだってあるんだ</p>
                                <p>とても温かったから</p>
                                <p>感謝もしてるよ、ありがとう</p>
                                <p>ただ道が違っただけのこと</p>
                                <p>しがないものは捨てて僕は旅立つよ</p>
                                <p>本当に必要としてくれる</p>
                                <p>人のところへ</p>
                                <p>汚い心も全て</p>
                                <p>受け入れなきゃいけないの？</p>
                                <p>君が君なら僕は僕</p>
                                <p>以外の誰でもないそれでいいんだよ</p>
                                <p>この胸に手を当てて</p>
                                <p>あなたは何がしたいの？</p>
                                <p>問いかけてた答えは咲く道標</p>
                                <p>いらない出来事なんて</p>
                                <p>今思えばひとつもないよ</p>
                                <p>僕が僕であるために</p>
                                <p>ここで憂いも、迷いも歌い続けよう</p>
                                <p>抱いた過去を総て僕は旅立つよ</p>
                                <p>本当に必要としてくれる人のために</p>
                                <p>過ちや悔しさだって</p>
                                <p>笑えるような明日が見たいの</p>
                                <p>君が君なら僕は僕</p>
                                <p>誰にも邪魔させない</p>
                                <p>さぁ、決別の声を</p>
                            </div>
                        </div>
                        <div class="lyrics-card">
                            <div class="lyrics-image video-play-button youtube-link" videoid="aOAiUwz7Zt8">
                                <img class="lyrics-background" src="https://musicmeta-phinf.pstatic.net/album/010/079/10079416.jpg" onerror="this.remove ? this.remove() : this.removeNode();" loading="lazy">
                            </div>
                            <div class="lyrics-title"><p ttt="">W/X/Y</p></div>
                            <div class="lyrics-description">
                                <p>垂れ流したテレビの音</p>
                                <p>溜めてしまった洗濯物は今日こそ</p>
                                <p>晴れでもあえて</p>
                                <p>外には出ないでいよう</p>
                                <p>映えないスナックと</p>
                                <p>アルコールで乾杯をしよう</p>
                                <p>2人酸いも甘いも</p>
                                <p>噛み合わないとしても</p>
                                <p>お互い寄り添うように</p>
                                <p>少しずらしてみようよ</p>
                                <p>君がくれた太陽</p>
                                <p>月で隠れないよう</p>
                                <p>輝き弛まぬように歌うメロディ</p>
                                <p>戯れるSlowly flowing day</p>
                                <p>愛してるも通り越して</p>
                                <p>似た者同士こうして</p>
                                <p>年老いるまで笑っていたいね</p>
                                <p>君がいなきゃlonely lonely day</p>
                                <p>夢の中 Fall asleep in bed</p>
                                <p>起こすからmorning callで</p>
                                <p>I'll protect you</p>
                                <p>From nightmares, Baby</p>
                                <p>脱ぎっぱなしの足跡辿ると</p>
                                <p>不意をついて後ろから抱きつくの</p>
                                <p>つい、繰り返すと</p>
                                <p>忘れてしまいそうになるよ</p>
                                <p>振り返ると</p>
                                <p>日々が当たり前じゃないこと</p>
                                <p>2人対の細胞</p>
                                <p>絡み合う特別を</p>
                                <p>噛み締めて生きたいと思った</p>
                                <p>まどろみ抱く正午</p>
                                <p>吐息、漏れた体温</p>
                                <p>微塵も逃さないよう</p>
                                <p>頭の中刻む甘いメモリー</p>
                                <p>戯れるSlowly flowing day</p>
                                <p>愛してるも通り越して</p>
                                <p>違う者同士こうして</p>
                                <p>年老いるまで笑っていたいね</p>
                                <p>君がいなきゃlonely lonely day</p>
                                <p>夢の中 Fall asleep in bed</p>
                                <p>起こすからmorning callで</p>
                                <p>I'll protect you</p>
                                <p>From nightmares, Baby</p>
                                <p>重ねた手はね離さないでいて</p>
                                <p>ごめん、これそばに居たいだけだね</p>
                                <p>抱えた想いはお互い様でしょ</p>
                                <p>ほら、おあいこでしょ</p>
                                <p>すれ違い、間違いもあるし</p>
                                <p>筋書き通り行かない打診、</p>
                                <p>悲しみだって</p>
                                <p>半分こにしよう</p>
                                <p>別れじゃない希望</p>
                                <p>独りよがりにならないように、</p>
                                <p>いつも</p>
                                <p>君がいなきゃ今もどこかで</p>
                                <p>動けないままの僕で</p>
                                <p>ありがとうを伝えたいのです</p>
                                <p>これからは僕が支えてくって</p>
                                <p>呆れてしまうくらいにね</p>
                                <p>愛が増していくday by day</p>
                                <p>面と向かうとどうしても</p>
                                <p>素直になれないな、ごめんね</p>
                                <p>戯れるSlowly flowing day</p>
                                <p>愛してるも通り越して</p>
                                <p>似た者同士こうして</p>
                                <p>年老いるまで笑っていたいね</p>
                                <p>君がいなきゃlonely lonely day</p>
                                <p>夢の中 Fall asleep in bed</p>
                                <p>起こすからmorning callで</p>
                                <p>I'll protect you</p>
                                <p>From nightmares, Baby</p>
                            </div>
                        </div>
                    </div>
                    <div class="franchise-template">
                        <div franchise-loader={franchise1}></div>
                        <div franchise-loader={franchise2}></div>
                        <div franchise-loader={franchise3}></div>
                        <div franchise-loader={franchise4}></div>
                        <div franchise-loader={franchise5}></div>
                    </div>
                </div>
            </section>
        </main>
        <div id="message-container"></div>
        <div id="top-button" onclick="topButton()">▲</div>
        <footer></footer>
        <script type="text/javascript" src="//www.hungbok.net/javascript/ko/music.js"></script>
        <script data-cfasync="false" type="text/javascript" src="//www.hungbok.net/javascript/form-submission-handler.js"></script>
        <iframe id="iframe1" name="iframe1" style="display:none"></iframe>
    </body>
</html>